
/**
 * Menu
 */

#headerlogo {
	width: auto;
}

#header {
}

#menubar li {
 background-color: #F5F5F5;
 border: 1px solid #616365;
 border-radius: 2px 2px 2px 2px;
 text-align: center;
 border-radius: 2px;
 -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
}

#menubar li.selected, #menubar li.ancestor {
 padding: 0 0px 0 0px; 
 background: #616365;
 font-weight: bold;
 color: #FFF;
}

#menubar li a {
 display: block;
 height: 2em;
 padding: 0 8px 0 8px; 
 text-decoration: none;
 color: #666;
 font-weight: bold;
 font-size: 0.7em;
 line-height: 2em;
 text-align: center;
 vertical-align: middle;
}

#menubar li a:hover {
 font-size: 0.7em;
 line-height: 2em;
 padding: 0 8px 0 8px;
 height: 2em;
 background-color: #F8F8F8;
 border: 1px solid #C6C6C6;
 color: #333;
 box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#account ul li {
 margin-bottom: 2px;
 font-size: 0.7em;
}

#account ul.anonymous li, #account ul.member li, #searchbar input#searchsubmit, input#commentsubmit {
 background-color: #7AB800;
 border: 1px solid #616365;
 border-radius: 2px 2px 2px 2px;
 text-align: center;
 font-weight: bold;
 border-radius: 2px;
 -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 color: #FFF;
}

#account ul.anonymous li:hover, #account ul.member li:hover, #searchbar input#searchsubmit:hover, input#commentsubmit:hover {
 background-color: #DDFBA2;
 border: 1px solid #000;
 color: #616365;
 box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#account ul.member li a, #account ul.anonymous li a { 
 display: block;
 height: 2em;
 padding: 0 8px 0 8px; 
 text-decoration: none;
 color: #FFF;
 line-height: 2em;
 text-align: center;
 vertical-align: middle;
}

#account ul.member li a:hover, #account ul.anonymous li a:hover { 
 color: #616365;
}

#col2 p.title {
 background: #DDD0C1;
}

#col1 a, #col2 a, #col3 a {
 color: #333;
}

#box input#boxsubmit {
 background: #DDD0C1;
 color: #333;
}

#box input#boxsubmit:hover,#box input#boxsubmit:focus {
 background: #333;
 color: white;
}

#footer {
	font-size: .8em;
}

#footer img {
 display: inline;
 vertical-align: middle;
 margin: .2em .3em;
}

#footerclose {
 padding: .7em 1.1em;
 border: 0;
 border-top: 1px solid #666;
 border-bottom: 10px solid #DDD;
 color: #333;
 font-weight: normal;
 font-size: 0.75em;
 text-align: center;
}

#footer a , #footerclose a {
 color: #333;
 text-decoration: none;
 font-weight: normal;
}

#footer a:hover, #footerclose a:hover {
 color: #333;
 text-decoration: underline;
}

/**
 * Survey
 * 
 */
.codeselet-type .button-codeselect {
	border: 1px solid #DDD;
	background-color: #FFF;
	font-size: .8em;
	font-weight: bold;
	padding: .4em;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
	cursor: pointer;
}

.codeselet-type .button-codeselect:hover {
	background-color: #DDD;
	color: white;
}

input[type="submit"] {
	padding: .4em;
	-webkit-border-radius: .3em;
	-moz-border-radius: .3em;
	border-radius: .3em;
}

.survey label {
	cursor: pointer;
}

#facebox {
z-index:9999;
display:none;
width:400px;
border:10px solid #666;
border:10px solid rgba(82, 82, 82, 0.698);
-moz-border-radius:8px;
-webkit-border-radius:8px;
}

#facebox div {
padding:10px;
border:1px solid #3B5998;
background-color:#fff;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif
}

#facebox h2 {
margin:-11px;
margin-bottom:0px;
color:#fff;
background-color:#6D84B4;
padding:5px 10px;
border:1px solid #3B5998;
font-size:20px;
}

#zip_codelist li {
 font-size: 1em;
 cursor: pointer;
}

#zip_codelist li:hover {
 color: #6D84B4;
}

/**
 * Influenzanet bar
 * 
 */

#influenzabar {
 width: 974px;
 margin: 0 auto;
 background: #ffffff url(../base/img/influbar/influenzanetlogo.png) no-repeat scroll 12px 0;
 position: absolute;
 top: 0;
 z-index: 1000;
}

p.influenzanet {
 text-align: right;
 font-size: 11px;
}

p.toggle {
 background: url(../base/img/influbar/closed.png) top left no-repeat;
 cursor: pointer;
}

p.expanded {
 background: url(../base/img/influbar/opened.png) top left no-repeat;
 cursor: pointer;
}

p.toggle a:focus,
a.close:focus {
 background: #000000;
}

p.toggle a {
 color: #333333;
 text-decoration: none;
}

.influenzabarcontent,
.influenzamapcontent {
 display: none;
}

div.influenzabarcontent{
 width: 926px;
 overflow: auto;
 padding: 0 12px 16px 12px;
 text-align: left;
 color: #333;
 font-size: 0.75em;
 line-height: 1.3em;
 background: none repeat scroll 0 0 #F4F4F4;
 border-width: 1px 2px;
 border-style: solid;
 border-color: #AAA;
 -moz-border-bottom-colors: none;
 -moz-border-image: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
}

#participants {
 float: right;
 margin: 14px 0 0;
 padding: 12px;
 width: 146px;
}

/**
 * Header
 * 
 */

#header {
 float: left;
 width: 950px;
 padding: 45px 12px 12px 12px;
 background: #ffffff;
}

