{% extends "pollster/base_run.html" %}
{% load i18n %}
{% block title %}{{ survey.translated_title }}{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="/media/assets/pollster_run.js"></script>
{% endblock %}

{% block col1 %}
<div id="wok-main-panel-content">
<div id="survey-title">{{ survey.translated_title }} {% trans "Questionnaire for participant" %} <img src="{{person.get_avatar_url}}"/ class="avatar"/><span class="survey-user-name">{{ person }}</span></div>

{%include "base/messages.html" %}

{% include "pollster/questions_run.html" %}
</div>
{% endblock %}
