{% extends "base/threecol.html" %}
{% load i18n cms_tags %}

{% block title %}{{ block.super }} {% trans "Logged in" %}{% endblock %}

{% block col1 %}
<h1>{% trans "You are logged in" %}</h1>

{% if last_survey %}
<div class="usermessage">{% trans "The last survey was submitted for" %} <span class="flu">{{ last_survey.survey_user }}</span> {% trans "on" %} <span class="flu">{{ last_survey.timestamp }}</span></div>
{% endif %}
{% placeholder "Main content" %}

{% if latest_newsletter %}
<h2>{% trans "Last newsletter from" %} <span class="flu">{{ latest_newsletter.date.date }}</span></h2>

<span class="flu">Newsletter: {{ latest_newsletter.subject }}</span>
{{ latest_newsletter.message|safe }}

{% endif %}

{% endblock %}

{% block col2 %}

{% include "accounts/partials/usermenu.html" %}
{% include "accounts/partials/usermap.html" %}

{% endblock %}
