{% extends "base/threecol.html" %}
{% load i18n %}

{% block title %}{{ block.super }} {% trans "Logged in" %}{% endblock %}

{% block col1 %}
<h1>{% trans "You are logged in" %}</h1>

<div class="usermessage">{% trans "The last survey was submitted for" %} <span class="flu">(USER)</span> {% trans "on" %} <span class="flu">(DATE AND TIME)</span></div>
{% placeholder "Main content" %}

<h2>{% trans "Last newsletter from" %} <span class="flu">(DATE)</span></h2>

<span class="flu">Newsletter</span>

{% endblock %}

{% block col2 %}

{% include "accounts/partials/usermenu.html" %}
{% include "accounts/partials/usermap.html" %}

{% endblock %}
