{% extends "base/threecol.html" %}
{% load i18n %}

{% block title %}{{ block.super }} {% trans "Logged in" %}{% endblock %}

{% block col1 %}
<h1>{% trans "You are logged in" %}</h1>

<div class="usermessage">{% trans "The last survey was submitted for" %} <span class="flu">(USER)</span> {% trans "on" %} <span class="flu">(DATE AND TIME)</span></div>
<p><strong><span class="flu">This content should be editable through the admin-backend</span>: Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu.</strong></p>
<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.</p>

<h2>{% trans "Last newsletter from" %} <span class="flu">(DATE)</span></h2>

<span class="flu">Newsletter</span>

{% endblock %}

{% block col2 %}

{% include "accounts/partials/usermenu.html" %}
{% include "accounts/partials/usermap.html" %}

{% endblock %}
