{% extends "base/threecol.html" %}

{% load i18n sekizai_tags cms_tags %}

{% block title %}{{ block.super }} {% trans "Group management" %}{% endblock %}

{% block add_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}base/js/accordion.js"></script>
{% endblock %}

{% block col1 %}
<h1>{% trans "Group management" %}</h1>

{% if last_survey %}
<div class="usermessage">{% trans "The last survey was submitted for" %} <span class="flu">{{ last_survey.survey_user }}</span> {% trans "on" %} <span class="flu">{{ last_survey.timestamp }}</span></div>
{% endif %}
{% placeholder "Main content" %}

<p><a href="{% url survey_people_add %}">+</a></p>

{% for person in persons %}
<div class="accordionButton">
    <p><input type="checkbox" id="{{ person.pk }}"> <a href="{{ person.get_edit_url }}">EDIT ICON</a> {{ person.name }}</p>

        {% comment %}
        <a href="{{ person.get_profile_url }}">{% trans "Change profile" %}</a>
        <a href="{{ person.get_survey_url }}">{% trans "Enter symptoms" %}</a>
        {% endcomment %}

    {% for health_line in person.health_history %}

        {% if not forloop.first %}
            </div><div><p>&nbsp;</p>
        {% endif %}

        <p>
            <img class="diag-icon" src="{{ MEDIA_URL }}/survey/img/diag-{{ health_line.status|default:'UNKNOWN' }}-small.png"/>
            {{ health_line.diag }}
        </p>

    {% endfor %}

</div>

{% endfor %}

<br class="source"/>

<p>{% trans "The flu status of each participant is based on the symptoms you reported. <strong>This is not a medical diagnosis</strong>. We only ask for symptoms indicative of influenza-like illness, common colds, gastric flu. If you have other symptoms, or you are at all worried, we recommend that you contact your doctor or telephone NHS Direct / NHS 24."%}</p>

{% endblock %}

{% block col2 %}

{% include "accounts/partials/usermenu.html" %}
{% include "accounts/partials/usermap.html" %}

{% endblock %}

