{% extends "base/threecol.html" %}
{% load i18n sekizai_tags cms_tags %}

{% block title %}{{ block.super }} {% trans "Your results" %}{% endblock %}

{% block add_css %}<link type="text/css" rel="stylesheet" media="screen" href="{{ MEDIA_URL }}pollster/css/qtip.css" />{% endblock add_css %}

{% block add_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}base/js/accordion.js"></script>

<script type="text/javascript" src="{{ MEDIA_URL }}pollster/js/qtip.js"></script>

<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}pollster/wok/js/wok.pollster.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}pollster/wok/js/wok.pollster.charts.js"></script>
<script type="text/javascript">
    wok.pollster.charts.init(function() {
        $(function() {
            wok.pollster.charts.createCharts('.survey-chart .chart');
        });
    });
</script>
{% endblock add_js %}

{% block col1 %}
<h1>{% trans "Group Management" %}</h1>

{% for message in messages %}
    <div class="usermessage"><span class="boldgreen">{{ message }}</span><br/>
    </div>
    <br />
{% endfor %}

{% if last_survey %}
<div class="usermessage">{% trans "The last survey was submitted for" %} {{ last_survey.survey_user }}<br />{% trans "on" %} {{ last_survey.timestamp }}</div>
<br />
{% endif %}

{% placeholder "Main content" %}

<form action="" method="POST" name="groupmanage">{% csrf_token %}
    <div id="groupwrapper">
        <div id="groupheader">            
            <p>
                <a href="{% url survey_people_add %}" class="right"><i class="icon-plus"></i> {% trans "Add person" %}</a>
                <input type="checkbox" id="select_all" title="{% trans "Select/deselect all" %}" />&nbsp; {% trans "Name" %}
            </p>
        </div>
        <div id="groupmembers">
            {% for person in persons %}
            <div class="accordionButton">
                <p title="{% if person.cohorts %}{{ person.name }} is member of: &#10;{{ person.cohorts_names }}{% endif %}">
                    <span class="right">
                        <a href="{{ person.get_edit_url }}"><i class="icon-edit"></i> {% trans "Rename" %}</a>
                        <a href="#" class="delete" style="margin-left:10px"><i class="icon-remove"></i> {% trans "Delete" %}</a>                
                    </span>
                    <input type="checkbox" id="{{ person.pk }}" name="global_ids" value="{{ person.global_id}}"/> 
                    <a href="/dashboard?gid={{ person.global_id }}">{{ person.name }}</a>
                </p>
            </div>            
            {% endfor %}
        </div>
    </div>
    <br class="source"/>
    <p class="groupsave">
        <input type="hidden" name="action" value="healthy"/>
        <input type="submit" class="submitbutton" value="{% trans "Mark selected as healthy" %}">
    </p>
</form>

<script>
$("form[name=groupmanage] .delete").click(function() {
    var $link = $(this);
    if(confirm("{% trans 'Are you absolutely sure you want to delete this user?' %}")) {
        var $form = $('<form method="POST"></form>')
            .append($('<input name="csrfmiddlewaretoken"/>').val($("form[name=groupmanage] input[name=csrfmiddlewaretoken").val()))
            .append($('<input name="global_ids"/>').val($link.closest("p").find("input").val()))
            .append('<input name="action" value="delete"/>')
            .appendTo("body")
            .submit();
    }
});
</script>

<p><br />{% trans "Since this year, school classes have been invited to participate to the project. If you belong to a class and you have received a code, " %} <a href="/cohort/register">{% trans "enter your code and join a group" %}</a></p>
{% endblock %}

{% block col2 %}

{% include "accounts/partials/usermap.html" %}

{% placeholder "Left bar" %}

{% endblock %}

{% block col3 %}

{% include "accounts/partials/usermenu.html" %}

{% placeholder "Right bar" %}

{% endblock %}
