{% extends "survey/base.html" %}
{% load i18n %}

{% block col1 %}
<h1>{% trans "People" %}</h1>

{% include "base/messages.html" %}

{%if persons|length == 0 %}
<p class="alert alert-warning">
	<span class="icon icon-warning">&nbsp;</span>{%trans "No user is registrer yet in your account, start by adding a user by clicking on the link 'Add a new person'"%}
</p>
{%else%}
<div id="page-help" style="display:none">{% trans "Below is the list of participants currently managed by you. Click the corresponding option next to the participant to complete the background or symptoms questionnaire for that person, or to remove a participant."%}</div>
<a class="button button-mini " rel="facebox" href="#page-help" data-facebox-height="450" data-facebox-width="750"><span class="icon icon-help-white"></span>{% trans "Help about this page"%}</a>
{%endif%}
{%if not wait_launch%} {# Do not check in wait launch context #}
	{%for p in persons%}{%if not p.last_intake%}<p class="alert alert-warning"><span class="icon icon-warning">&nbsp;</span>{% blocktrans with name=p.name %}Please fill the background intake for the user {{name}} first{%endblocktrans%}</p>{%endif%}
{%endfor%}
{%endif%}
<form action="" method="POST" id="users_form">{% csrf_token %}
<table border="0" id="people-table">
<tr>
	<th rowspan="2">{% trans "Name" %}</th>
	<th colspan="2">{% trans "Fill a questionnaire" %}</th>
</tr>
<tr>
	<th>{% trans "Background" %} <span class="tooltip icon icon-tip" title="{%trans "Background survey help"%}"></span></th>
	<th>{% trans "Symptoms" %} <span class="tooltip icon icon-tip" title="{%trans "Weekly survey help"%}"></span></th>	
</tr>	
{% for person in persons %}
<tr id="person-{{ person.pk }}" rel="{{person.global_id}}">
	<td class="person-name">
		<input type="checkbox" name="global_ids" value="{{ person.global_id}}"/> {{ person.name }} 
		<a rel="facebox" href="{{ person.get_edit_url }}" class="edit-user" data-facebox-height="460px" title="{%trans "Edit Person"%}"><span class="icon icon-edit" title="{%trans "Edit Person"%}"></span></a>
		<span id="cohort-{{person.pk}}"></span>
	</td>
    {%if wait_launch %}
	<td colspan="2">
		{% trans "The project is not started yet for this season" %}
	{%else%}
	<td {% if not person.last_intake %} class="to-fill-first tooltip-alert" title="{% trans "Fill the intake survey for this participant to start his participation"%}"{% endif %}>
		<a href="{{ person.get_profile_url }}" class="button fill-button survey-intake" id="person-{{person.pk}}-intake"><span class="icon icon-survey">&nbsp;</span>{% trans "Fill this survey" %}</a>
		{% if person.last_intake %}
		<span class="last" title="{%trans "last survey date"%} {{ person.last_intake|date:"d M Y H:i"}}">{% blocktrans with last=person.last_intake|timesince %}last survey filled {{last}} ago{% endblocktrans %}</span>
		{%else%}
		<span class="last">{%trans "no previous survey"%}</span>
		{%endif%}
		</td>
	    <td><a href="{{ person.get_survey_url }}" class="button fill-button survey-weekly" id="person-{{person.pk}}-weekly"><span class="icon icon-survey">&nbsp;</span>{% trans "Fill this survey" %}</a>
		{% if person.health_history|length > 0 %}
		{% with f=person.health_history|first %} 
		<span class="last" title="{%trans "last survey date"%} {{f.timestamp|date:"d M Y H:i"}}">{% blocktrans with last=f.timestamp|timesince %}last survey filled {{last}} ago{% endblocktrans %}</span>
		{%endwith%}
		{%else%}
		<span class="last">{%trans "no previous survey"%}</span>
		{%endif%}
	{%endif%}	
	</td>
</tr>
{% endfor %}
<tr>
	<td colspan="5" nowrap="nowrap" style="font-size:.9em">
	<input type="hidden" name="action" value="" id="input_action"/>
	{% trans "For the checked users" %} :
    {%if wait_launch %}
		&nbsp;
	{%else%}
	<button type="button" onclick="submit_users('healthy')" class="button">{% trans "Mark as healthy" %}</button><span class="tooltip icon icon-tip" title="{%trans "mark as healthy help text"%}">&nbsp;</span>
	{%endif%}
	<button type="button" onclick="submit_users('delete')" class="button">{% trans "Delete member(s)" %}</button>
	</td>
</tr>
<tr>
	<td colspan="5" class="people-actions">
	<ul >
		<li><a href="{% url survey_people_add %}" class="action-add-people" data-facebox-height="360px" data-facebox-width="460px" title="{% trans "Add new person" %}" rel="facebox">{% trans "Add new person" %}</a></li>
		<li><a href="{% url cohort_form %}" class="action-cohort tooltip" title="{%trans "cohort subscription help text"%}"><span class="icon icon-cohort">&nbsp;</span>{% trans "Register a participant in a Cohort" %}</a> <span ></span></li>
		<li><span class="tooltip" title="{%trans "Update vaccination help"%}"><i class="icon icon-tip"></i>{%trans "How to update my vaccination status"%}</span></li>
	</ul>
	</td>
</tr>
</table>
</form>

{%if not wait_launch %}
	{%comment%}
	{%include "survey/sw_household_story.html" %}
	{%endcomment%}
{%else%}

<div class="alert alert-warning">
	<p>{% trans "The project has not started yet for the season. We will contact you as soon as the follow-up begin." %}</p>
	<h4>{%trans "The project will be launched from the" %} <b>{{ wait_launch.date|date:"DATE_FORMAT"}}</b></h4>
</div>

{% endif %}
<script type="text/javascript">
var users = [ {% for p in persons %}'{{p.name}}'{%if not forloop.last%},{%endif%}{%endfor%} ];
	
$(function() {
	
	
	$.getJSON('/cohort/subscriptions', function(data) {
		var subscribers = data.subscribers;
		var cohorts = data.cohorts;
		if(subscribers) {
			console.log(subscribers);
			for(var uid in subscribers) {
				var subs = subscribers[uid];
				title = '{%trans "Subscriptions for this user:"%}<br/>';
				for(var i=0; i < subs.length; ++i) {
					var c = subs[i];
					title += cohorts[c]+'<br/>';
				}
				$('#cohort-'+uid).attr('title',title).addClass("icon icon-cohort").tooltip();
			}
		}
	});

	if(typeof(init_story) != "undefined") {
		init_story();
	}
});

function edit_user() {
	var e = $(this);
	document.location = e.attr('rel');
}

function submit_users(action) {
	if(action == 'delete') {
		if( !confirm('{% trans "Delete selected users ?" %}') ) {
			return;
		}		
	}
	$('#input_action').val(action);
	$('#users_form').submit();
}

</script>
{% endblock %}

