{% extends "survey/base.html" %}
{% load i18n %}

{% block col1 %}
<h1>{% trans "People" %}</h1>

<p>{% trans "Below is the list of participants currently managed by you. Click the corresponding option next to the participant to complete the background or symptoms questionnaire for that person, or to remove a participant."%}<br><br>

<table border="0" id="people-table" class="imagetable">
<tr>
	<th>{% trans "Name" %}</th>
	<th colspan="2" style="width:200px">{% trans "Questionnaire" %}</th>
    <th>{% trans "Options" %}</th>
</tr>
{% for person in people %}
<tr>
	<td>{{ person.name }}</td>
<!--    <td><a href="{{ person.get_edit_url }}">{% trans "Edit" %}</a></td>-->
    <td><a href="{{ person.get_profile_url }}">{% trans "Background" %}</a></td>
    <td><a href="{{ person.get_survey_url }}">{% trans "Symptoms" %}</a></td>
    <td><a href="{{ person.get_remove_url }}">{% trans "Remove" %}</a></td>
</tr>
{% endfor %}
<tr>
	<td colspan="4" style="text-align:left"><a href="{% url survey_people_add %}" class="action-add-people">{% trans "Add new person" %}</a>
	<div style="font-size: .8em">L'autorisation de recueillir des données concernant les mineurs étant en cours, il n'est pour le moment pas possible d'inscrire un participant de moins de 18 ans.</div></td>
</tr>
</table>
{% endblock %}

