{% load i18n %}

{% block col1 %}
<h2>{% trans "Add Person" %}</h2>
<p class="info">{% trans "This form allow you to customize the way this participant is named. In order to preserve privacy we ought you to avoid family name or email. Use surname or given name." %}</p>
<form method="post" class="contact_form" action="{%url survey_people_add%}?gid={{survey_user.global_id}}">
{% csrf_token %}
{{ form.as_p }}

{%if avatars %}
 {%include "survey/_avatars.html" %}
{%endif%}

<input type="submit" id="commentsubmit" value="{% trans "Add Person" %}"/>
</form>

{% endblock %}
