{% extends "base/threecol.html" %}
{% load i18n %}

{% block add_js %}
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}pollster/wok/js/wok.pollster.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}pollster/wok/js/wok.pollster.charts.js"></script>
<script type="text/javascript">
    wok.pollster.charts.init(function() {
        $(function() {
            wok.pollster.charts.createCharts('.survey-chart .chart');
        });
    });
</script>
{% endblock add_js %}

{% block col1 %}
<h1>{% trans "Add Person" %}</h1>

<form method="post" class="contact_form">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" id="commentsubmit" value="{% trans "Add Person" %}"/>
</form>

{% endblock %}

{% block col2 %}

{% include "accounts/partials/usermenu.html" %}
{% include "accounts/partials/usermap.html" %}

{% endblock %}
