{% extends "survey/base.html" %}
{% load i18n %}

{% block col1 %}
<h1>{% trans "Thanks for changing your profile," %}
{% if person %}
{{ person }}.
{% else %}
{{ user }}.
{% endif %}
</h1>
<p>{% trans "Please, if you have not already done so, fill in" %}
{% if person %}
<a href="/survey/?gid={{person.global_id}}">
{% else %}
<a href="/survey/">
{% endif %}
{% trans "the symptoms questionaire" %}</a>.
</p>
{% endblock %}


{% block col2 %}

<p class="title">{% trans "Influenza virus" %}</p>
<img src="{{ MEDIA_URL }}base/img/main/virus.jpg" alt="EM of influenza virus" title="Influenza virus" class="topspace" />

{% endblock %}