*.pyc
*.pyo
*.userprefs
*.pidb
*.swp
*~
.installed.cfg
.DS_Store
epiweb.db
MANIFEST
local_settings.py
ggm.db
bin/
src/
include/
lib/
build/
dist/
media/uploads/
media/results/
media/journal_images/
media/.webassets-cache/
media/cms_page_media/
_pollster_tile_cache/
.project
epidb/client/epidb_results.sql*
lib64/
.settings/
.pydevproject
