{% extends "base/threecol.html" %}
{% load i18n cms_tags %}

{% block title %}{{ block.super }} {% trans "Password reset" %}{% endblock %}

{% block col1 %}

<h1>{% trans "Password reset" %}</h1>
<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<div class="formwrap">
	<form action="" method="post" id="registration">{% csrf_token %}
	{{ form.email.errors }}
	<p><label for="id_email">{% trans "E-mail address:" %}</label> {{ form.email }}</p>
	<p><input type="submit" class="submitbutton" value="{% trans "Reset my password" %}" /></p>
	</form>
</div>

{% placeholder "Main content" %}

{% endblock %}

{% block col2 %}

<p class="title">{% trans "Influenza virus" %}</p>
<img src="{{ MEDIA_URL }}base/img/main/virus.jpg" alt="EM of influenza virus" title="Influenza virus" class="topspace" />
<p><a href="/">{% trans "Back to the home page" %}</a></p>

{% placeholder "Left bar" %}

{% endblock %}