{% extends "base/threecol.html" %}
{% load i18n cms_tags %}

{% block title %}{{ block.super }} {% trans "Password reset" %}{% endblock %}

{% block col1 %}

{% if validlink %}

<h1>{% trans "Enter new password" %}</h1>
<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<div class="formwrap">
	<form action="" method="post" id="registration">{% csrf_token %}
	{{ form.new_password1.errors }}
	<p class="aligned wide"><label for="id_new_password1">{% trans "New password:" %}</label>{{ form.new_password1 }}</p>
	{{ form.new_password2.errors }}
	<p class="aligned wide"><label for="id_new_password2">{% trans "Confirm password:" %}</label>{{ form.new_password2 }}</p>
	<p><input type="submit" id="boxsubmit" value="{% trans "Change my password" %}" /></p>
	</form>
</div>

{% placeholder "Main content" %}

{% else %}

<h1 class="important">{% trans "Password reset unsuccessful" %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}

{% block col2 %}

<p class="title">{% trans "Influenza virus" %}</p>
<img src="{{ MEDIA_URL }}base/img/main/virus.jpg" alt="EM of influenza virus" title="Influenza virus" class="topspace" />
<p><a href="/">{% trans "Back to the home page" %}</a></p>

{% placeholder "Left bar" %}

{% endblock %}