{% extends "base/threecol.html" %}
{% load i18n cms_tags %}

{% block title %}{{ block.super }} {% trans "Password change successful" %}{% endblock %}

{% block col1 %}

<h1 class="important">{% trans "Password change successful" %}</h1>
<p>{% trans "Your password was changed." %}</p>

{% placeholder "Main content" %}

{% endblock %}

{% block col2 %}

<p class="title">{% trans "Influenza virus" %}</p>
<img src="{{ MEDIA_URL }}base/img/main/virus.jpg" alt="EM of influenza virus" title="Influenza virus" class="topspace" />
<p><a href="/">{% trans "Back to the home page" %}</a></p>

{% placeholder "Left bar" %}

{% endblock %}


