{% load cms_tags menu_tags i18n count sekizai_tags active_accounts user_login %}<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xml:lang="{{ request.LANGUAGE_CODE }}" lang="{{ request.LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=0.75, user-scalable=yes" />
<meta name="robots" content="index, follow" />
<link rel="shortcut icon" href="{{ MEDIA_URL }}sw/grippenet.ico" type="image/x-icon" />
<title>{% block title %}{{ site_name }}: {% page_attribute page_title %}{% endblock title %}</title>
<meta name="description" content="{% page_attribute meta_description %}"/>
<meta name="keywords" content="{% page_attribute meta_keywords %}"/>
{% block add_head %}{% endblock add_head %}
<link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}assets/base.css" />
{% block add_css %}{% endblock add_css %}
{% render_block "css" %}
<script type="text/javascript">var MEDIA_URL='{{ MEDIA_URL }}';</script>
<script type="text/javascript" src="{{ MEDIA_URL }}assets/base.js?v={{assets_version}}"></script>
{% block add_js %}{% endblock add_js %}
{% render_block "js" %}
</head>
<body{% spaceless %}{% block add_body %}{% endblock add_body %}{% endspaceless %} data-gga="{{google_analytics}}">
<div id="facebox">
   <div id="facebox-inner">
   	<div id="facebox-content"></div>
   <div id="facebox-close"><a href="#facebox-inner" onclick="$('#facebox').overlay().close()">Fermer cette boite</a></div>
   </div>
</div>
<div id="page" {%if user.is_authenticated %} class="user-connected" {%endif%}>
{%if not user.is_authenticated %}
<div id="ifn-bar">
{% block masthead %}
	<p class="ifn-title">Influenzanet est un système permettant de surveiller l’activité des syndromes grippaux par internet. <a href="/influenzanet" rel="facebox" data-facebox-width="880" data-facebox-height="490">En savoir plus</a></p>
	<div id="cc-box"></div>
{% endblock masthead %}
</div>
{% endif %}	
<div id="header">
	<div id="headerlogo">
		<a href="/" title="GrippeNet"><img src="{{MEDIA_URL}}/sw/grippenet.png" alt="GrippeNet logo" /></a><br/>
		<div id="headersub">Devenez acteur de la surveillance de la grippe</div>
	</div>
	{%if user.is_authenticated %}
	<div id="header-user">
	<h2>Vous êtes connecté à GrippeNet.fr</h2>
	<div id="feedback">
		<a href="/feedback" rel="facebox" data-facebox-width="650" data-facebox-height="450" id="feedback-link"><i class="icon icon-feeback"></i>Un commentaire, un problème ?</a>
	</div>
	<div id="user-account">
		<ul>
		{% if user|user_login %}
		<li><a href="/accounts/settings/"><span class="user-login">{{ user.username }}</span></a></li>
		<li><span class="user-email">{{ user.email }}</span></li>
		<li><a href="/accounts/settings/"><span class="icon icon-settings">&nbsp;</span>{% trans "My settings" %}</a></li>
		{% else %}
		<li><span class="user-login">{% trans "Anonymous"%}</span><span class="tooltip" title="Vous êtes connecté via un lien sans mot de passe. GrippeNet n'a pas pu récuperer certaines informations de votre compte (login, email)."><i class="icon icon-tip"></i></span></li>
		{% endif %}
		<li><span class="icon icon-logout">&nbsp;</span><a href="/accounts/logout/">{% trans "Log out" %}</a></li>
		</ul>
		</div>
	</div>			
	{% else %}
	<div id="searchbar">
	<div id="feedback">
		<a href="/feedback" rel="facebox" data-facebox-width="650" data-facebox-height="450" id="feedback-link"><i class="icon icon-feeback"></i>Un commentaire, un problème ?</a>
	</div>
	<span id="counter-div">
		<span id="counter" title="Nombre de personnes ayant rempli au moins un questionnaire préliminaire depuis le lancement de la saison" class="counter tooltip">{% member_count "fr" %}</span> participants,
		<span id="counter-accounts" title="Nombre de comptes GrippeNet.fr activés" class="tooltip counter">{% active_accounts %}</span> comptes <img src="{{MEDIA_URL}}sw/clock.png" class="tooltip" title="Actualisé toutes les 30 min." alt="actualisé toutes les 30 min."/>
	</span> 
	</div>
   {% endif %}
   {% block authentication %}{% endblock authentication %}
	<div id="navigation">
		<div id="menubars">
			{% block menubar %}
            {% spaceless %}{% show_menu 0 2 100 100 "base/menu.html" %}{% endspaceless %}
			{% endblock menubar %}
		</div>
	</div>			
</div> 
{% block content %}{% endblock content %}
<div id="footer">{% block footercontent %}
    <div id="footerclose">
     &copy; {% now "Y" %}  GrippeNet.fr
	 &nbsp;-&nbsp;<a href="http://www.sentiweb.fr">réseau Sentinelles</a> 			 
	 &nbsp;-&nbsp;<a href="http://www.iplesp.upmc.fr">Institut Pierre Louis, UMR S 1136</a> 			 
	 &nbsp;-&nbsp;<a href="/le-projet/contact/">Nous contacter</a>
	 &nbsp;-&nbsp;<a href="/mentions-legales/">Mentions légales</a> 
	 &nbsp;-&nbsp;<a href="/cookies-policy" data-facebox-width="800" data-facebox-height="560" rel="facebox">A propos des Cookies</a>
    </div>
	</div>{% endblock footercontent %}
</div>
{% if piwik_server_url %}
<script type="text/javascript">start_piwik('{{piwik_server_url}}');</script>
<noscript><p><img src="{{piwik_server_url}}piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
{% endif %}
</body>
</html>