{%load i18n user_login  cms_tags %}
{%if not user.is_authenticated %}
<form action="/accounts/login/?next=/survey/main/" id="login-form" method="post">{% csrf_token %}
	{%trans "Username" %}<input type="text" name="username" size="30" maxlength="70"/>
	{%trans "Password" %}<input type="password" name="password" size="30" maxlength="30"/>
	<div>
	<button type="submit" class="button">Se connecter</button>
	</div>
<p id="passwd-reset"><a href="/accounts/password/reset/">{% trans "Forgot password?" %}</a></p>
</form>
<div id="user-buttons">
	<a href="/accounts/register" id="register-button">S'inscrire</a>
	<a href="/survey/" id="login-button">Remplir un questionnaire</a>
</div>
{% else %}
<div class="widget-box" id="user-box">
<h2>Mon espace</h2>
<ul>
	<li id="link-group"><i class="icon icon-users"></i><a href="/survey/group_management/">{% trans "Manage household" %}</a></li>
	<li id="link-dashboard"><i class="icon icon-dashboard"></i><a href="/dashboard/">{% trans "My results" %}</a></li>
	<li id="link-invite"><i class="icon icon-invite"></i><a href="/invite/">{% trans "Invite people" %}</a></li>
</ul>
{% if household_count == 1 %}
	<h3>Mes Questionnaires</h3>
<ul>
	<li><i class="icon icon-survey"></i><a href="{% url survey_profile%}?gid={{ household_gid }}">Préliminaire</a></li>
	<li><i class="icon icon-survey"></i><a href="{% url survey_index %}?gid={{ household_gid }}">Hebdomadaire</a></li>
{% comment %}
	<li><i class="icon icon-survey"></i><a href="{% url survey_run shortname="vacc2017" %}?gid={{ household_gid }}">Vaccination</a></li>
{% endcomment %}
</ul>
{%endif%}
<h2>Aide</h2>
<ul id="link-help-pages">
	<li><i class="icon icon-help"></i><a href="{% page_url "aide-premiers-pas" %}">Premiers pas avec GrippeNet.fr</a></li>
	<li><i class="icon icon-help"></i><a href="{% page_url "aide-etats-de-sante" %}">Les états de santé</a></li>
</ul>
</div>

{% endif %}
{% if not user.is_authenticated %}
<div id="social-widgets" class="widget-box"></div>
{% endif %}

<div id="logos">
 <a href="http://www.inserm.fr" rel="external"><img src="//websenti.u707.jussieu.fr/static/i/l/inserm-base.svg" width="130" alt="INSERM" title="Institut National de la Santé et de la Recherche Médicale"/></a>
 <a href="https://www.sorbonne-universite.fr/" rel="external"><img src="http://www.iplesp.upmc.fr/img/suniv-h.svg" width="130" alt="SU" title="Sorbonne Université"/></a>
 <center><a href="http://www.invs.sante.fr" rel="external"><img src="//websenti.u707.jussieu.fr/static/i/l/spf.svg" width="100" alt="SPF" title="Santé Publique France"/></a></center>
 <center><a href="http://www.agence-nationale-recherche.fr/" rel="external"><img src="{{MEDIA_URL}}sw/logos/anr.gif" width="132" height="50" alt="ANR" title="Agence Nationale de la Recherche"/></a></center>
</div>
