<div id="logos">
 <img src="{{MEDIA_URL}}sw/inserm.gif" width="150" height="60" alt="INSERM" title="Institut National de la Santé et de la Recherche Médicale"  /> 
 <img src="{{MEDIA_URL}}sw/upmc.gif" width="150" height="55" alt="UPMC" title="Université Pierre et Marie Curie"/>
 <img src="{{MEDIA_URL}}sw/invs.gif" width="93" height="65" alt="InVS" title="Institut de Veille Sanitaire"/>
</div>
<div id="social-widgets">
<a href="https://twitter.com/grippenet" class="twitter-follow-button" data-show-count="false" data-lang="fr" data-size="large">Suivre @grippenet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

 <iframe src="https://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.grippenet.fr"
     scrolling="no" frameborder="0"
  style="border:none; width:169px; height:80px"></iframe>
</div>