{%load i18n %}
{%if not user.is_authenticated %}
<div id="user-buttons">
	<a href="/accounts/register" id="register-button">S'inscrire</a>
	<a href="/accounts/login" id="login-button">Se connecter</a>
	<a href="/survey/" id="login-button">Remplir un questionnaire</a>
</div>
<p><a href="/accounts/password/reset/" rel="facebox">{% trans "Forgot password?" %}</a></p>
{% else %}	
<div id="user-box">
	<table>
		<tr>
			<td id="user-avatar"><img src="{{MEDIA_URL}}/sw/avatar.gif" width="60" height="60"/></td>
			<td>
			<div id="user-login">{{ user.username }}</div>
			</td>
		</tr>
	</table>
<ul>
	<li class="icon icon-survey"><a href="/survey/">{% trans "Symptoms survey" %}</a></li>
	<li class="icon icon-survey"><a href="/survey/profile/"> Questionnaire préliminaire </a></li>
	<li class="icon icon-users"><a href="/survey/people/">{% trans "Manage household" %}</a></li>
	<li class="icon icon-settings"><a href="/accounts/settings/">{% trans "My settings" %}</a></li>
	<li class="icon icon-password"><a href="/accounts/password/change">{% trans "Change password" %}</a></li>
	<li><a href="/accounts/logout/">{% trans "Log out" %}</a></li>
</li>
</ul>
</div>
{% endif %}
<div id="logos">
 <a href="http://www.inserm.fr" rel="external"><img src="{{MEDIA_URL}}sw/logos/inserm.gif" width="150" height="60" alt="INSERM" title="Institut National de la Santé et de la Recherche Médicale"  /></a> 
 <a href="http://www.upmc.fr" rel="external"><img src="{{MEDIA_URL}}sw/logos/upmc.gif" width="150" height="55" alt="UPMC" title="Université Pierre et Marie Curie"/></a>
 <a href="http://www.invs.sante.fr" rel="external"><img src="{{MEDIA_URL}}sw/logos/invs.gif" width="93" height="65" alt="InVS" title="Institut de Veille Sanitaire"/></a>
</div>
