{% extends "base/sitebase.html" %}
{% load cms_tags menu_tags %}

{% block content %}
        <div id="colmask">
            <div id="colleft">
                <div id="colright"> 
                    <div id="col1wrap"> 
                         <div id="colleftpad"> 
                             <div id="col1"> 
                                 {% block col1 %}{% placeholder "Main content" %}{% endblock col1 %}
                             </div> 
                         </div> 
                    </div> 
                    <div id="col2" class="disable"> 
                    </div> 
                    <div id="col3"> 
                        {% spaceless %}{% show_menu 0 2 100 100 "base/sidebar_menu.html" %}
                        {% endspaceless %}
                        {% block col3 %}{% placeholder "Right bar" %}{% endblock col3 %}
                    </div> 
                </div> 
            </div> 
        </div>{% endblock content %}
