{% extends "base/threecol.html" %}
{% load i18n %}

{% block title %}{{ block.super }} {% trans "Group management" %}{% endblock %}

{% block add_js %}
		<script type="text/javascript" src="{{ MEDIA_URL }}base/js/accordion.js"></script>
{% endblock add_js %}

{% block col1 %}
<h1>{% trans "Group management" %}</h1>

<div class="usermessage">{% trans "The last survey was submitted for" %} <span class="flu">(USER)</span> {% trans "on" %} <span class="flu">(DATE AND TIME)</span></div>
<p><strong><span class="flu">This content should be editable through the admin-backend</span>: Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu.</strong>

<div id="groupwrapper">
	<div class="accordionButton"><p>User 1</p></div>
	<div class="accordionContent"><p>Completed surveys</p></div>
	<div class="accordionButton"><p>User 2</p></div>
	<div class="accordionContent"><p>Completed surveys</p></div>
	<div class="accordionButton"><p>User 3</p></div>
	<div class="accordionContent"><p>Completed surveys</p></div>
	<div class="accordionButton"><p>User 4</p></div>
	<div class="accordionContent"><p>Completed surveys</p></div>
</div>

<br class="source"/>

<p>{% trans "The flu status of each participant is based on the symptoms you reported. <strong>This is not a medical diagnosis</strong>. We only ask for symptoms indicative of influenza-like illness, common colds, gastric flu. If you have other symptoms, or you are at all worried, we recommend that you contact your doctor or telephone NHS Direct / NHS 24."%}</p>

{% endblock %}

{% block col2 %}

{% include "accounts/partials/usermenu.html" %}
{% include "accounts/partials/usermap.html" %}

{% endblock %}
