{% extends "base/threecol.html" %}
{% load i18n cms_tags %}

{% block title %}{{ block.super }} {% trans "Account settings" %}{% endblock %}

{% block add_js %}
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}pollster/wok/js/wok.pollster.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}pollster/wok/js/wok.pollster.charts.js"></script>
<script type="text/javascript">
    wok.pollster.charts.init(function() {
        $(function() {
            wok.pollster.charts.createCharts('.survey-chart .chart');
        });
    });
</script>
{% endblock add_js %}

{% block col1 %}
<h1>{% trans "Account settings" %}</h1>

{% if success %}
<div class="usermessage">{% trans "Your settings have been updated" %}</div>
{% endif %}

{% placeholder "Main content" %}

<div class="formwrap">

    <hr />
    <h2>{% trans "Email settings" %}</h1>
    <form action="{% url apps.accounts.views.my_settings %}email/" method="post">{% csrf_token %}
    {{ email_form.as_p }}
    <p><input type="submit" class="submitbutton" value="{% trans "Save" %}"></p>
    </form>
    <br /><hr />

    <h2>{% trans "Password" %}</h2>
    <form action="{% url apps.accounts.views.my_settings %}password/" method="post">{% csrf_token %}
    {{ password_form.as_p }}
    <p><input type="submit" class="submitbutton" value="{% trans "Save" %}"></p>
    </form>
    <br /><hr />

    <h2>{% trans "Username" %}</h2>
    <form action="{% url apps.accounts.views.my_settings %}username/" method="post">{% csrf_token %}
    {{ username_form.as_p }}
    <p><input type="submit" class="submitbutton" value="{% trans "Save" %}"></p>
    </form>
    <br /><hr />

    <h2>{% trans "Facebook" %}</h2>    

    <p>Visita la nostra <a href="https://www.facebook.com/pages/Influwebit/162902929396">pagina Facebook</a> 
       e clicca su “like” per essere sempre aggiornato sull’attività di raccolta dati per la stagione influenzale 2014/15.</p>

    {% if social_auth.facebook %} 
    <p>Sei connesso con le tue credenziali Facebook.
    {% if social_auth.facebook.user.password != '!' %}
    Puoi <a href="{% url socialauth_disconnect_individual social_auth.facebook.provider social_auth.facebook.id %}">disconnettere le tue credenziali</a> 
    Facebook e usare il tuo username e password che hai scelto quando ti sei registrato a Influweb.
    {% endif %}
    </p>
    {% else %}
    <p>Sei connesso con le tue credenziali Influweb. Quando lo vorrai, potrai agganciare il tuo account influweb alle tue credenziali Facebook.</p>
    <p><a href="{% url socialauth_begin backend='facebook' %}">Connetti a Facebook</a></p>
    {% endif %}

</div>

{% endblock %}

{% block col2 %}

{% include "accounts/partials/usermap.html" %}

{% endblock %}

{% block col3 %}

{% include "accounts/partials/usermenu.html" %}

{% endblock %}
