{% extends "sw_invitation/base.html" %}{% load i18n %}
{% block add_css %}
<style>
.form-invitation table { border:1px solid #EEE; margin: 0; border-collapse: collapse; font-size: .8em}
.form-invitation td { padding: .4em .5em  }
.form-invitation td.options { font-size: .9em  }
#col1 .form-invitation label { font-weight: normal; padding-left: .2em; cursor: pointer }
.invitations { border-collapse: collapse }
.invited td { font-size: .8em; border: 1px solid  #EEE; border-width: 1px 0 1px 0; padding: .5em  }
.invited td.date { font-size: .8em }
</style>
{%endblock%}

{% block col1 %}
<h2>{%trans "Invite people to InfluenzaNet" %}</h2>
<p>{%trans "This page allows you to invite people to register to this website. To invite someone add his email address to the box below"%}</p>

{% include "base/messages.html" %}
<h4>{%trans "Invite new people"%}</h4>
<form action="{%url invite_index %}" class="form-invitation" method="post">
	{% csrf_token %}
	<table>
	<tr>
		<td>
		<input type="text" name="email" id="email" size="30" maxlength="254" placeholder="{%trans "email you want to be invited" %}"/>
		</td>
	</tr>
	<tr>
		<td class="options">
			<input type="checkbox" name="include_email" value="1" id="include_email"/><label for="include_email">{%trans "Include your email address in the invitation (anonymous if not checked)" %} ({{user.email}})</label>
		</td>
	</tr>
	<tr>
		<td class="options">
			<input type="text" name="name" value="{{from_name}}" id="name" placeholder="{% trans "An optional name"%}"/><label for="name">{%trans "You can also include a name which will be included in the invitation email (not stored in this website)" %}</label>
		</td>
	</tr>
	<tr>
		<td>
					<button type="submit" class="button">{%trans "invite this email"%}</button>	
		</td>
	</tr>
	</table>
</form>

<h4>{%trans "Invitations already sent"%}</h4>
{% if usages %}
<p><b>{{usages}}</b> {%trans "invitations you sent has been used" %}</p>
{% endif %}
<table class="invitations">
{%for invitation in invitations %}
<tr class="invited">
	<td class="date">{{ invitation.date }}</td>
	<td class="email"><span class="icon icon-email"></span>{{ invitation.email }}</td>
	<td>{%if invitation.used %}<span class="icon icon-tick"></span>{%endif%}</td>
</tr>
{%endfor%}
</table>

<p>{%trans "invitation privacy policy"%}</p>

{% endblock %}

