/* Contents */

hr {
 border-color: #e2e2e2;
 border-style: solid;
 border-width: 1px 0 0;
 clear: both;
 margin: 14px 0 14px 0;
 height: 0;
}

#colmask p.title {
 background: #7AB800; /* 7AB800 */
 color: white;
 font-weight: bold;
}

#colmask a {
 color: #007AB8; /* Bleu complementaire de 7AB800 */
 font-weight: bold;
}

#col1 li {
 font-size: 1em;
 font-weight: normal;
 padding-top: .3em;
}

#col1 ul {
 padding: 0 0 0 20px;
}

#col1 ol {
 padding: 0 0 0 24px;
}

#col1 li {
 line-height: 1.5em; 
}

#col1 > ul > li,
#col1 > ol > li,
#col2 > ul > li,
#col2 > ol > li,
#col3 > ul > li,
#col3 > ol > li { /* Reduce size only for the first level */
 font-size: 0.7em;
}

#col1 label,
#col2 label,
#col3 label {
 font-size: 0.9em;
 font-weight: bold;
}

#col1 li label,
#col2 li label,
#col3 li label {
 font-size: 0.7em;
}

#col1 p, #col2 p, #col3 p {
 margin: 1em 0 1em 0;
 font-size: 0.7em;
 line-height: 1.5em;
}

#col1 img.left {
 margin: 0 14px 0 0; 
}

#col1 img.right {
 margin: 0 0 0 14px; 
}

#col2 a { 
 display: block;
}

#col2 p a { 
 display: inline;
}

#col1 a,
#col2 a,
#col3 a {
 text-decoration: none;
 font-weight: bold;
}

#col1 a:hover,
#col2 a:hover,
#col3 a:hover {
 text-decoration: underline;
}


#col1 h1 {
 margin: 6px 0 12px 0;
 padding: 0;
 color: #0a0a0a;
 font-size: 1.2em;
 line-height: 1.1em;
}

#col1 h2 {
 margin: 18px 0 12px 0;
 padding: 0;
 color: #000000;
 font-size: 1em;
}

#col1 h3 {
 margin: 18px 0 12px 0;
 padding: 0;
 color: #767676;
 font-size: 1em;
}

#col2 p.title, #col3 p.title {
 margin: 4px 0 0 0;
 padding: 2px 8px 2px 8px;
 color: #fefefe;
 font-weight: bold;
 font-size: 0.75em;
}

#col2 h2,
#col3 h2 {
 margin: 8px 0 12px 0;
 padding: 0;
 color: #0a0a0a;
 font-size: 1em;
}

/*
 * Account*/
#account ul li {
 margin-bottom: 2px;
 font-size: 0.85em;
 padding: 0;
}

#account ul.anonymous li, #account ul.member li {
background-color: #7AB800;
border: 1px solid #59705D;
border-radius: 2px 2px 2px 2px;
text-align: center;
font-weight: bold;
border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
color: #FFF;
}

#account ul.anonymous li:hover, #account ul.member li:hover{
background-color: #DDFBA2;
border: 1px solid #59705D;
color: #616365;
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#account ul.member li a, #account ul.anonymous li a { 
display: block;
height: 2em;
padding: 0 8px 0 8px; 
text-decoration: none;
color: #FFF;
line-height: 2em;
text-align: center;
vertical-align: middle;
}

#account ul.member li a:hover, #account ul.anonymous li a:hover { 
color: #616365;
}

/*
 * Counter
 */

#searchbar {
 float: right;
}

#counter-div {
margin: .5em;
padding-left: 1em;
font-size: .6em;	
}

#counter-div img {
	vertical-align: middle;
}

.counter {
font-size: 1.4em;
color: #7AB800;
font-weight: bold;
}
