#userswitch ul { 
	list-style: none;
	width: 100%; 
	padding: 0; 
	font-size: .9em;
	
}

#userswitch li {
	float:left; 
	padding: 5px; 
	margin: 0 2px 10px 0; 
}

#userswitch li.selected { 
	border: 1px solid #d2d2d2; 
}

#userswitch li.selected a { 
}


#userswitch li.survey-user  { 
}

.household .avatar-default {
  background: transparent url(../users32.png) left center no-repeat;
}

.survey-user .avatar-default {
  background: transparent url(../user-blue.png) left center no-repeat;
}


.chart-dashboard-history { 
	margin-top: 30px; 
}

.chart-dashboard-history table { 
	width: 100%; 
}

.chart-dashboard-history th {
	font-size: .8em;
}

.chart-dashboard-history td { 
	padding: 5px; 
	vertical-align: middle; 
}

.chart-dashboard-history .history div { 
	border: 1px solid #DDD;
	margin-right: .2em;
	padding: .1em;
	border-radius: .3em;
} 

.health-status {
 	text-align:center;
 	float:left	
}

.health-status span {
	font-size: .7em;
	color: #999;
}

.chart-dashboard-badges { 
	margin-top: 30px; 
	padding: .5em;
}


.badge-title {
	display: inline;
	font-size: 1.1em;
}

.badge-header {
	padding: .7em;
}

.badge-header a {
	font-size: .7em;
}

.badges {
	position: relative;
}

#page .badge { 
	text-align: center; 
}

.badge { 
	border: 1px solid #DDD; 
	padding: 5px; 
	width: 100px; 
	float: left;  
	margin: 5px
}

.badge img { 
	width: 64px; 
}

.badge .badge-label { 
	font-size: .64em; 
	text-align: center; 
	margin: .2em auto; 
}

.badge:hover { 
	border: 1px solid #007AB8 
}

.badge.badge-new {
	border: 2px dashed #7ab800
}

.new-badges { 
	border: 2px solid #7ab800; 
	padding: .4em; 
	font-size: .8em; 
	font-style: italic; 
}

.chart-box {
	padding: .5em;
	border: 1px solid #EEE;
	border-radius: .3em;
	margin: 1em;
}

#col1 .chart-box h3 {
	font-size: .9em;
}
.chart-box blockquote {
	font-size: .6em;
	font-style: italic;
	padding: .2em;
	margin: .2em 2em;
}
