/* Influenzanet bar */

#ifn-bar {
 width: 974px;
 margin: 0 auto;
 background: #ffffff url(../../base/img/influbar/influenzanetlogo.png) no-repeat scroll 12px 0;
 position: absolute;
 top: 0;
 z-index: 50;
}

#ifn-bar p.ifn-title {
 text-align: right;
 font-size: 11px;	
 padding: 1em;
 padding-left: 260px;
 line-height: 1em;
 border-bottom: 1px solid #E5E5E5;
}

.ie7 #ifn-bar {
 position: relative;
}


.ifn td {
 font-size: 0.9em;
}

.epiwork {
 vertical-align: top;
 width: 266px;
 padding: 12px;
 color: #000000;
 background: #ffffff;	
}

.epiwork a {
 color: #484848;
 font-weight: bold;
}

#ifn-body {
	font-size: .8em;
	text-align: justify;
	padding: 0 .8em;
}

#partners {
 width: 146px;
}

#partners img {
 vertical-align: middle;
}

#partners a {
 margin: 0 4px 0 0;
}

#partners li {
	list-style-type: none;
}
