/* Influenzanet bar */

#influenzabar {
 width: 974px;
 margin: 0 auto;
 background: #ffffff url(../../base/img/influbar/influenzanetlogo.png) no-repeat scroll 12px 0;
 position: absolute;
 top: 0;
 z-index: 50;
}

p.influenzanet {
 text-align: right;
 font-size: 11px;	
 position: relative;
 padding: .9em;
 border-bottom: 1px solid #E5E5E5;
}

.ie7 #influenzabar {
 position: relative;
}

p.toggle {
 background: url(../../base/img/influbar/closed.png) top left no-repeat;
 cursor: pointer;
}

p.expanded {
 background: url(../../base/img/influbar/opened.png) top left no-repeat;
 cursor: pointer;
}


p.toggle a:focus, a.close:focus {
 background: #000000;
}

p.toggle a {
 color: #333333;
 text-decoration: none;
}

.influenzabarcontent,
.influenzamapcontent {
 display: none;
}

div.influenzabarcontent{
 width: 926px;
 overflow: auto;
 padding: 0 12px 16px 12px;
 text-align: left;
 color: #333;
 font-size: 0.75em;
 line-height: 1.3em;
 background: none repeat scroll 0 0 #F4F4F4;
 border-width: 1px 2px;
 border-style: solid;
 border-color: #AAA;
 -moz-border-bottom-colors: none;
 -moz-border-image: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
}

#influenzatext {
 padding: 14px 194px 0 302px;
 font-size: 0.9em;
}

