/**
 * Base
 */

html {
 color: #333;
}

html body {
 font-family: Verdana, Geneva, sans-serif;
 line-height: 1.2em;
 font-size: 1em;
 -webkit-text-size-adjust: none;
 color: #595959;
 background: #d5d5d5;
}

body, p {
 margin:0;
 padding: 0;
}

img {
 border: 0;
}

#page {
 width: 974px;
 margin: 0 auto;
 padding: 0;
 text-align: left;
}


/**
 * Column layout
 */

/* Columns */

#colmask {
 position: relative;
 clear: both;
 float: left;
 width: 100%;
 overflow: hidden;
 background: #ffffff;
}

/**
 * colmid : only in 3 columns layout
 */
#colmid {
 float: left;
 width: 200%;
 position: relative;
 left: 215px; /* Distance col2 to left margin = (total width of col1) */
 background: #ffffff;
 border-left: 1px solid #e2e2e2;
}

#colright {
 float: left;
 width: 100%;
 position: relative;
 left: 50%;
 margin-left: -510px;
 background: #ffffff;
 border-left: 1px solid #e2e2e2;
}

#col1wrap {
 float: right;
 width: 50%;
 position: relative;
 right: 100%;
}

#col1pad {
 margin: 0 13px 0 521px;
 overflow: hidden;
}

#col1 {
 width: 100%;
 min-height: 300px;
 overflow: hidden;
}

#col2 {
 float: left;
 width: 290px;
 min-height: 300px;
 position: relative;
 margin-left: -50%;
 left: 206px;
 overflow: hidden;
}

#col3 {
 float: left;
 width: 170px;
 min-height: 300px;
 position: relative;
 left: 12px;
 overflow: hidden;
}

/* 2 Columns */

#colleft {
 float: left;
 width: 200%;
 position: relative;
 left: 314px;
 background: #ffffff;
 border: 0px solid #e2e2e2;
}

#colleftpad {
 margin: 0 13px 0 206px;
 overflow: hidden;
}

/**
 * correct 3 column layout 
 */

#colmid #colright {
 margin-left: -410px; /* col3 position */
}

/*
 * margin-left = margin of col2
 */
#colmid #col1pad {
margin:0 5px 0 416px;
}

#colmid #col2 {
 left: 205px;
 width: 200px;
}

#colmid #col1 {
 padding: 0;
 width: 98%;
}

/* Header */

#header {
 float: left;
 width: 950px;
 padding: 50px 12px 12px 12px;
 background: #ffffff;	
}

#headerlogo {
 float: left;
 width: 756px;
 overflow: hidden;
 padding: 0;
 margin: 0 0 12px 0;
 width: auto;
 height-bottom: .8em; 
}


#headersub {
 font-size: 1.2em;
 line-height:normal;
 color: #899F99;
 font-style: italic;
}

#header ul, #header li {
 list-style: none;
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
}


/* Modal box
 * @todo still in use ?
 */

#box {
 margin: 1em;
 padding: 1em 3em;
 width: auto;
 font-size: 1em;
}

#box h1 {
 margin: 6px 0 16px 0;
 padding: 0;
}

#box form {
	margin: .7em;
}

#box input {
 height: 2em;
 width: 180px;
 padding: 0 .3em 0 .3em;
 margin: 0;
 font-size: 1em;
 line-height: 1em;
 border: 1px solid #cccccc;
}

#box input:focus {
 background-color: #f0f0f0;
 border: 1px solid #000000;
}

#box label {
 display: inline-block;
 width: 180px;
 margin: 10px 30px 2px 0;
 color: #aaaaaa;
}

#box ul.errorlist li {
 display: block;
 clear: both;
 margin: 14px 0 -5px 0;
 padding: 0;
 font-size: 0.8em;
 line-height: 1.4em;
 color: red;
 font-weight: bold;
}

#box .helptext {
font-size: .8em;
font-style: italic;
margin: .8em;
margin-top: 0;
display: block;
}

#box input.required {
	border-right: 3px solid red;
}

/**
 * Footer
 */

#footer {
 clear: both;
 float: left;
 width: 100%;
 padding: 30px 0 0 0;
 background: #ffffff;
 font-size: .8em;
}


#footer img {
 display: inline;
 vertical-align: middle;
 margin: .2em .3em;
}

#footer h2 {
 margin: 12px 0 21px 0;
 padding: 0; 
}

#footerclose {
 padding: 8px 14px 10px 14px;
 border-top: 2px solid #222222;
 border-bottom: 10px solid #d5d5d5;
 color: #333;
 font-weight: normal;
 font-size: 0.75em;
 padding: .7em 1.1em;
border: 0;
border-top: 1px solid #666;
border-bottom: 10px solid #DDD;
color: #333;
font-weight: normal;
font-size: 0.75em;
text-align: center;

}

#footer a:hover, #footerclose a:hover {
 color: #333;
 text-decoration: underline;
}

#footer a , #footerclose a {
color: #333;
text-decoration: none;
font-weight: normal;
}

#logos {
 text-align: left;
 margin: 1em .4em;
 margin-top: 5em;
}

#logos img {
display: block;
margin: .8em .3em;
border: 0;
}

/**
 * Forms
 */

input#id_name,
input#id_email,
textarea#id_body {
    float: left;
    clear: left;
}

input {
 margin: 0;
 vertical-align: middle;
}

input#id_name,
input#id_email,
textarea#id_body {
 height: 2em;
 width: 300px;
 margin: 0 0 10px 0;
 padding: 0 4px 0 4px;
 font-size: 1em;
 line-height: 2em;
 background-color: #ffffff;
 border: 1px solid #cccccc;
}

textarea#id_body {
 width: 400px;
 height: 114px;
 font-size: 12px;
 line-height: 1.2em;
 padding: 4px;
}

input#id_name:focus,
input#id_email:focus,
textarea#id_body:focus {
 background-color: #f0f0f0;
 border: 1px solid #000000;
}

input#commentsubmit {
 height: 2.2em;
 width: auto;
 margin: 0;
 padding: 0 6px 2px 6px;
 font-size: 0.7em;
 line-height: 2.2em;
 border: 0;
 color: #f8f8f8;
 font-weight: bold;
 text-align: center;
 cursor: pointer;
 float: left;
 clear: left;
}

input#commentsubmit:hover {
 cursor: pointer;
}

.button {
 border: 1px solid #007AB8;
 background-color: #007AB8;
 color: white;
 padding: 4px;
 cursor: pointer;	
  border-radius: 3px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
}

a.button {
 background-color: #007AB8;
}

#colmask a.button {
	text-decoration: none;
	font-weight: normal;
	color: white;
}

#colmask a.button:hover , .button:hover {
	background-color: #7AB800;
	border-color: #7AB800;
} 

.button-mini {
	padding: 2px;
	font-size: .8em;
}

p#passwd-reset {
 text-align: center;
}


form.contact_form label, input#id_name, input#id_email, textarea#id_body {
	clear: none;
	float: none;
}

img.top-page {
position: relative;
bottom: -3px;
}

#col1 li.flag {
padding: .3em 0 .3em 26px;
}

.flag-nl,.flag-be,.flag-de, .flag-at, .flag-ch, .flag-se, .flag-uk, .flag-fr, .flag-pt, .flag-es, .flag-it, .flag-ie, .flag-dk {
background: #FFF url() left center no-repeat;
}

.flag-nl {background-image: url(../../base/img/influbar/nl.png)}
.flag-be {background-image: url(../../base/img/influbar/be.png)}
.flag-de {background-image: url(../../base/img/influbar/de.png)}
.flag-at {background-image: url(../../base/img/influbar/at.png)}
.flag-ch {background-image: url(../../base/img/influbar/ch.png)}
.flag-se {background-image: url(../../base/img/influbar/se.png)}
.flag-uk {background-image: url(../../base/img/influbar/gb.png)}
.flag-fr {background-image: url(../../base/img/influbar/fr.png)}
.flag-pt {background-image: url(../../base/img/influbar/pt.png)}
.flag-es {background-image: url(../../base/img/influbar/es.png)}
.flag-it {background-image: url(../../base/img/influbar/it.png)}
.flag-ie {background-image: url(../../base/img/influbar/ie.png)}
.flag-dk {background-image: url(../../base/img/influbar/dk.png)}

#feedback_map .chart {
	width: 750px;
	height: 750px;
}


.disable {
 display: none;
}


a:link.close {
 color: #b2b2b2;
 text-decoration: underline;
}

.show {
 display: block;
}


.facebook {
 margin: 8px 0 0 -6px;
}

/* cms plugins */
.dlicon {
 margin: 0 -2px -4px 0;
}

.dllink {
 font-size: 0.7em;
 line-height: 1.5em;
}

/* Charts & Maps */


/**
 * Graph
 */

.survey-chart .chart { 
	width: 440px; 
	height: 330px; 
	position: relative; 
}

.survey-chart .chart-no-data { 
	background:#EEE; 
	padding:20px; 
}

.graph {
	margin: .5em;
	padding: .5em;
	border: 1px solid #EEE;
	border-radius: .4em;
	-moz-border-radius: .4em;
	-webkit-border-radius: .4em;
	text-align: center;
}

.graph img {
	margin: 1em ;
}

.graph blockquote {
	margin: .3em 1em .2em 1em; 	
}

blockquote {
	margin: .5em auto;
	padding: .2em;
	font-size: .7em;
	font-style: italic;
	text-align: justify;
}

/* Alert from bootstrap
 * 
 */

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	color: #C09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

/**
 Utils
 */

.left {
 float: left;
}

.imgleft {
 float: left;
 margin: 10px 10px 4px 0;
}

.right {
 float: right;
}

.imgright {
 float: right;
 margin: 10px 0 4px 10px;
}

.clear {
 display: block;
 clear:both;	
}

.loading {
 text-align: center;
 margin: .2em auto;
}


