#menubar li {
 background-color: #7AB800;
 border: 1px solid #7AB800;
 text-align: center;
 border-radius: .3em;
 -moz-border-radius: .3em;
 -webkit-border-radius: .3em;
}

#menubar li.selected, #menubar li.ancestor {
 padding: 0; 
 background-color: #007AB8;
}

#menubar li a {
 display: block;
 height: 2em;
 padding: 1px .4em 1px .4em; 
 text-decoration: none;
 color: #FFF;
 font-weight: bold;
 font-size: .7em;
 line-height: 2em;
 text-align: center;
 vertical-align: middle;
}

#menubar li.selected a, #menubar li.ancestor a {
 color: #FFF;
}

#menubar li a:hover {
 background: #FFF;
 color: #7AB800;
}

#submenu {
 background: 0;
 padding: .5em;
 margin: .3em 0 .2em .3em;
}

#submenu li {
 padding: .2em .4em;
 border: 1px solid #999;
 border-radius: .3em;
 -moz-border-radius: .3em;
 -webkit-border-radius: .3em;
 background-color: #FFF;
 color: #666;
}

#submenu li:hover {
 background: #F8F8F8;
 color: #333;
}

#submenu li a {
	margin: 0;
}

#submenu li.selected {
 background-color: #616365;
 color: white;
}

#submenu li.selected a {
color: white;
}
