
#navigation {
 width: 950px;
 clear: both;
}

#menubar {
 float: left;
 max-width: 754px;
 overflow: hidden;
 margin: 0 0 4px 0 !important;
 width: 800px;
}

#menubar li {
 float: left;
 margin: 0 0 0 4px;
 background-color: #7AB800;
 border: 1px solid #7AB800;
}

#menubar li {
 text-align: center;
 border-radius: .3em;
 -moz-border-radius: .3em;
 -webkit-border-radius: .3em;
}

#menubar li:first-child {
 margin: 0;   
}

#menubar li a {
 display: block;
 height: 2em;
 text-decoration: none;
 color: #FFF;
 font-size: 0.7em;
 font-weight: bold;
 line-height: 2em;
 text-align: center;
 vertical-align: middle;
 padding: .1em .4em; 
 /* Force border radius inside li */ 
 border-radius: .3em;
 -moz-border-radius: .3em;
 -webkit-border-radius: .3em;
}

#menubar > li:hover {
 border: 1px solid #7AB800;
}

#menubar li.selected,
#menubar li.ancestor {
 padding: 0 0px 0 0px; 
 background: #2e2e31;
 font-weight: bold;
 color: #ffffff;
}

#menubar li.error {
 background: #bc0000;
}


#menubar li.selected, #menubar li.ancestor {
 padding: 0; 
 background-color: #007AB8;
 border: 1px solid #007AB8;
 color: #FFF;
}

#menubar li a:hover {
 background: #FFF;
 color: #7AB800;
}

#submenu {
 float: left;
 clear: left;
 overflow: hidden;
 color: #FFFFFF;
 font-weight: bold;
 font-size: 0.7em;
 background: 0;
 width: 850px;
 padding: 0;
 margin: 1em 0 .3em .5em;
}

#submenu ul {
	border-bottom: 1px solid #008000;	
}

#submenu li {
 list-style-type: none;
 display: inline-block;
 color: #8e8e8e;
 text-decoration: none;
 font-size: .9em;
 margin-left: .4em;
}

#submenu li a {
 position: relative;
 display: block;
 border: 1px solid #7AB800;
 border-bottom: 0;
 padding: .4em .6em .3em .6em;
 background-color: #7AB800;
 color: white;
 margin: 0;
 text-decoration: none;
 border-radius: .5em;
 -moz-border-radius: .5em;
 -webkit-border-radius: .5em;
 border-bottom-right-radius:0;
 border-bottom-left-radius:0;
 -moz-border-bottom-right-radius:0;
 -moz-border-bottom-left-radius:0;
 -webkit-border-bottom-right-radius:0;
 -webkit-border-bottom-left-radius:0;
}

#submenu li.selected a {
 color: white;
}

#submenu li:hover a {
 color: #7AB800;
}

#submenu li:hover a {
 background-color: #FFF;
 color: #7AB800;
}

#submenu li.selected a {
 background-color: #007AB8;
 border: 1px solid #007AB8;
}

