#menubar {
	width: 800px;
}

#menubar li {
 background-color: #7AB800;
 border: 1px solid #7AB800;
 text-align: center;
 border-radius: .3em;
 -moz-border-radius: .3em;
 -webkit-border-radius: .3em;
}

#menubar li.selected, #menubar li.ancestor {
 padding: 0; 
 background-color: #007AB8;
 border: 1px solid #007AB8;
}

#menubar li a {
 display: block;
 height: 2em;
 padding: .1em .4em; 
 text-decoration: none;
 color: #FFF;
 font-weight: bold;
 font-size: .7em;
 line-height: 2em;
 text-align: center;
 vertical-align: middle;
 /* Force border radius inside li */ 
 border-radius: .3em;
 -moz-border-radius: .3em;
 -webkit-border-radius: .3em;
}

#menubar > li:hover {
 border: 1px solid #7AB800;
}

#menubar li.selected a, #menubar li.ancestor a {
 color: #FFF;
}

#menubar li a:hover {
 background: #FFF;
 color: #7AB800;
}

#submenu {
 background: 0;
 width: 850px;
 padding: 0;
 margin: .3em 0 .2em .2em;
}

#submenu li:first-child {
 margin: .2em;
}

#submenu li {
 font-size: .9em;
 margin: .2em;
 padding: .2em .3em;
 border: 1px solid #7AB800;
 border-radius: .3em;
 -moz-border-radius: .3em;
 -webkit-border-radius: .3em;
 background-color: #7AB800;
}
#submenu li a {
	color: white;
	margin: 0;
}

#submenu li:hover {
 background-color: #FFF;
 color: #7AB800;
}

#submenu li.selected {
 background-color: #007AB8;
 border: 1px solid #007AB8;
}

#submenu li.selected a {
	color: white;
	text-decoration: none;
}


