#col1 .messages {
	font-size: 1em;
}

#col1 .messages li {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
 padding: .3em .4em;
 margin: .3em 1em;	
}

#col1 .messages .error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	padding-left: 20px;
	background: transparent url(../warning.png) left center no-repeat;
}

#col1 .messages .warning {
	color: #c09853;
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
}

#col1 .messages .info {
color: #3a87ad;
background-color: #d9edf7;
border-color: #bce8f1;
}

#col1 .messages .success {
color: #468847;
background-color: #dff0d8;
border-color: #d6e9c6;
}
