
/**
 * Survey
 */
.codeselect-button {
border: 1px solid #DDD;
background-color: #FFF;
font-size: .8em;
font-weight: bold;
padding: .4em;
-webkit-border-radius: .3em;
-moz-border-radius: .3em;
border-radius: .3em;
cursor: pointer;
}

.codeselect-button:hover {
background-color: #DDD;
color: white;
}

.codeselect-title {
padding: .3em;
padding-left: 18px;
-webkit-border-radius: .3em;
-moz-border-radius: .3em;
border-radius: .3em;
border: 1px solid #DDD;
margin: auto .2em;
font-size: .9em;
background: #FFF url(../home.png) left center no-repeat;
}

#zip_codelist li {
 padding-top: 5px;
 padding-left: 20px;
 background: #FFF url(../home.png) left center no-repeat;
 font-size: 1em;
 cursor: pointer;
}

#zip_codelist li:hover {
 color: #6D84B4;
}

#zip_warning {
	font-size: .8em;
}


.survey label:hover {
color: #007AB8;
}

#survey-intro {
 margin: 1em;
 padding: .5em;
 border: 3px solid #7AB800;
 font-size: .9em;
}

#survey-title {
 text-align: center;
 margin: 1em;
 font-weight: bold;
 color: #007AB8;
}

.survey-user-name {
font-weight: bolder;
color: green;
border: 1px solid green;
padding: .3em;
border-radius: .3em;
-moz-border-radius: .3em;
-webkit-border-radius: .3em;
}

.survey-last-fill-time {
font-size: .8em;
font-style: italic;
}



#col1 .question { /* Hack to make priority higher*/
width: 80%;
}

#col1 .survey-message {
width: 512px;
}

#col1 table.matrix th {
font-size: 11px;
padding: .3em;
}

.question-date-delay {
	vertical-align: middle;
	font-size: .9em;
	margin-bottom: 10px; /* align to .question input[type=text] */
	margin-left: 4px;
	color: #007AB8;
	font-weight: bold;
	display: inline-block;
}

#colmask .vas-type .ui-slider-handle {
 bakground-image: url();
 background-color:#007AB8;
}

.question-tip-toggle {
 margin-left: .3em;
 font-size: .8em;
 font-style: italic;
 cursor: pointer;
 white-space: nowrap;
}

.question-tip {
 padding: .5em;
 padding-left: 2em;
 font-size: .74em;
}

.question-tip i {
	text-decoration: underline;
}

/**
 * slider
 */
.slider-range {
	position: relative;
	font-size: .84em;
}

.slider-wrap {
	margin: .5em auto;
	text-align:center;
	width:90%
}

#slider-min {
	float:left;
	text-align: left;
}

#slider-max {
 float:right;
 text-align: right;
}

.vas-help {
	font-size: .8em;
}

.vas-best-level,.vas-worst-level  {
 display: inline-block;
 width: 32px;
 height: 32px;
 margin: 0 .2em;
 background: transparent url() left center no-repeat;
 vertical-align: middle;
}

.vas-best-level {
	 background-image: url(../avs-best.png)
}

.vas-worst-level {
	 background-image: url(../avs-worst.png)
}

.vas-response  {
	color: red;
}

.vas-response-ok {
	color: #42D525;
	font-weight: bold;
}
