
.ie .tooltip, .ie .tooltip-alert {
	position: relative;
}

.tooltip {
	border-bottom: 1px dotted #999;
	cursor: help;
}

a.tooltip, a.tooltip-alert {
	border: 0;
}

.hovertip {
	font-size: .7em;
	padding: .8em;
	color: #000;
	background-color: #F6F6F6;
	border: 1px solid #3A87AD;
	max-width: 400px;
	border-radius: .3em;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em; 
	z-index: 500;
}

.hovertip-alert {
 border: 1px solid #faa732;
 background-color: #faa732;
 color: white;	
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	bottom: -8px;
	left: 50%;
	margin-left: -8px;
	border-width: 8px 8px 0;
	border-top-color: #3A87AD; 
}

.hovertip-alert .tooltip-arrow {
  border-top-color: #faa732;
}

.hovertip.hovertip-new {
	border: 2px solid #7AB800;
	padding: .3em;
	background-color: #dff0d8;
}

.hovertip-alert .tooltip-arrow {
  border-top-color: #7AB800;
}