/*
 * Menu user buttons
 */
#user-buttons a {
	display: block;
	margin: .8em;
	padding: 1em;
	border: 1px solid #EEE;
	border-radius: .4em;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	color: white;
	text-align: center;
	font-size: .8em;
}

#login-button {
	border-color: #007AB8;
	background-color: #007AB8;
}

#register-button {
	border-color: #7AB800;
	background-color: #7AB800;
}

#login-form {
	padding: .2em;
	border: 1px solid #EEE;
	border-radius: .4em;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	font-size: .7em;
}

#login-form div { 
	text-align: center 
}

#login-form input {
	font-size: 1.1em;
	padding: .2em;
	border: 1px solid #EEE;
	border-radius: .4em;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
	width: 12em;
}

/**
 * Registration from
 */
#registration {
	padding: 1em;
	border: 1px solid #EEE;
	border-radius: .4em;
	-webkit-border-radius: .4em;
	-moz-border-radius: .4em;
}

/**
 * Interface modification when user is connected
 */

.user-connected #header {
	padding-top: 0;
}

.user-connected #searchbar {
	margin-top: -1em;
}

.user-login {
	font-weight: bold;
}

.user-connected #colright {
	margin-left: -520px;
}

.user-connected #colleftpad {
	margin-left: 216px;
}

.user-connected #col3 {
	width: 185px;
}

.user-connected #col2 {
	left: 212px;
}

/*
 * Logged user box
 */
#header-user {
 float: right;
 margin: .3em;
 padding:.3em;
 font-size: .9em;
 border: 1px solid #007AB8;
 border-radius: .3em;
 -moz-border-radius: .3em;
 -webkit-border-radius: .3em;
}

#header-user h2 {
	font-weight: bold;
	margin: .2em;
	font-size: .9em;
}

#user-account {
	font-size: .9em;
}

#user-account ul {
}

#user-account li {
	margin-left: .2em; 
	font-size: .8em;
}

/*
 #user-account li.icon {
	padding-left: 18px;
}
*/
#user-account a {
	text-decoration: none;
}

#user-account a:hover {
	text-decoration: underline;
}

/**
 * Logged user box
 */

#user-box {
}


#user-box h2 {
	font-weight: bold;
	font-size: 1em;
	border-bottom: 1px solid #EEE;
}

#user-box li {
	margin-top: .9em;
}

#page #user-box h3 {
	margin: .2em 0;
	margin-top: .7em;
	font-weight: normal;
	font-size: .9em;
	padding: 0;
}

#user-buttons > p {
 text-align: center;
}

#user-box table {
	border: 0;
}

#user-avatar {
	float: left;
	margin: .2em;
}

#user-login {
	text-align: left;
	padding: .3em;
	font-size: .7em;
}

#user-action {
	text-align: left;
}

#user-action span {
	display: block;
	font-size: .8em;
}

.icon {
 display: inline-block;
 width: 16px;
 height: 16px;
 margin: 0 .2em;
 background: transparent url() left center no-repeat;
 vertical-align: middle;
}

.icon-32 {
	width: 32px;
	height: 32px;
}

.icon-users { background-image: url(../users.png)}
.icon-survey { background-image: url(../survey.png)}
.icon-settings { background-image: url(../settings.png)}
.icon-password { background-image: url(../password.png)}
.icon-feeback { background-image:url(../avis.png)}
.icon-logout { background-image:url(../logout.png)}
.icon-tip { background-image:url(../help-tip.png) }
.icon-help-white { background-image:url(../question-white.png) }
.icon-warning { background-image:url(../warning.png) }
.icon-email { background-image:url(../mail.png)}
.icon-tick { background-image: url(../tick.png) }
.icon-clock { background-image: url(../clock.png) }
.icon-edit { background-image:url(../edit.png) }
.icon-invite {  background-image:url(../mail-air.png) }
.icon-dashboard { background-image:url(../dashboard.png) }
.icon-demo { background-image:url(../demo.png) }

#col1 .avatar {
  display:inline-block;
  height: 32px;
  width: 32px;
  padding-right: .2em;
  vertical-align: middle;
}

/* User pages */
.select-user li {
	padding: .5em .3em;
	list-style-type: none;
}

.select-user li a {
	line-height: 48px;
	padding: 15px .4em;
	border-radius: .4em;
	border: 2px solid white;
}

.select-user li a:hover {
	border-color: #007AB8;
}

.participant {
	color: #007AB8;
	font-weight: bold;
}
