/* People Group management pages */
.people-actions {
	text-align: left;
}

.people-actions li {
	list-style-type: none;
}

#people-table {
	width: 80%;
	font-size: .8em;
	margin: .5em auto;
}

#people-table th, #people-table td {
	border: 1px solid #ddd;
	border-width: 0 0 1px 1px;
	text-align: center;
}

#people-table td {
	padding: .7em;
}


#people-table td {
	font-size: .9em;
	min-width: 10em;
}

#people-table .last {
	display: block;
	font-size: .8em;
}

#people-table td.person-name {
	 text-align: left;
	 white-space: nowrap;
}

#people-table .survey-types th {
	white-space: nowrap;
}

.action-add-people {
	padding: 2px 2px 2px 18px;
	background: white url(../user-add.png) left center no-repeat;
}

#people-table td.to-fill-first {
 border: 2px solid #FF8C00;
}

#colmask .to-fill-first a.fill-button {
	background-color: #FF8C00;
	border: 1px solid  #FF8C00;
}

#story td {
	font-size: .9em;
	text-align: center;
	padding: .3em;
	border-bottom: 1px solid #EEE;
	border-right: 1px solid #EEE;
}

#story td.date {
 text-align:left;
}

/**
 * Survey IntroJSa
 */

.identity {
	display: inline-block;
}
.survey-intro {
	border: 2px solid #7AB800;
	font-size: .8em;
	text-align: justify;
	width: 35em;
}

.survey-highlight {
	
}

.large-intro {
	width: 60em;
}

