/**
 * Externals
 */

#sentiweb-widget ul {
 margin-left: 0px;
 padding-left: 0px;
}

#sentiweb-widget li {
 margin-top: .5em;
 font-size: .7em;
}

.widget-box {
	padding: .1em;
	margin: .1em 0;
}

#page .widget-box h3 {
	font-weight: normal;
	font-size: .9em;
	padding: 0;
	margin: .2em 0;
}

.widget-box ul {
	margin: 0; 
	padding: 0;	
}

.widget-box  li {
	list-style-type: none;
	font-size: .8em;
	padding: 0;
	margin: .6em .1em .3em 0;
	line-height: 1.1em;
} 

.icon-sentiweb, .icon-invs, .icon-grog, .icon-qmark {
 padding-left: 40px;
 line-height: 35px;
 background: #FFF url() left center no-repeat;
}

.icon-sentiweb { background-image: url(../logos/sentiweb-xs.gif) }
.icon-invs { background-image: url(../logos/invs-xs.gif) }
.icon-grog { background-image: url(../logos/grog-xs.gif) }
.icon-qmark { background-image: url(../logos/grippenet-qmark.png) }

#social-widgets {
	margin: .5em 0;
	padding:0; 
	max-width: 300px;
}

.widget-disabled {
	color: #666;
	padding: .5em;
	font-size: .6em;
	text-align: justify;
}
