/* invitation page */
.form-invitation table { border:1px solid #EEE; margin: 0; border-collapse: collapse; font-size: .8em}
.form-invitation td { padding: .4em .5em  }
.form-invitation td.options { font-size: .9em  }
#col1 .form-invitation label { font-weight: normal; padding-left: .2em; cursor: pointer }
.invitations { border-collapse: collapse }
.invited td { font-size: .8em; border: 1px solid  #EEE; border-width: 1px 0 1px 0; padding: .5em  }
.invited td.date { font-size: .8em }

#personnal { width: 40em; height: 3em; line-height:1em }

ul#email-fields {
	margin: 0; 
	padding: 0;
}

#add-button {
	font-size: .8em;
	cursor: pointer;
}

#email-fields li {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.icon {
	vertical-align:middle;
	padding-right: .2em;
}

#preview {
	margin: .5em;
	padding: .3em;
	border: 3px solid #EEE;
	position: relative;
}

#preview-header {
	padding: .5em;
	font-size: 1.1em;
	border-bottom: 1px solid #EEE;
}

#preview-contents {
	font-size: .9em;
	padding: .5em;
}

#preview .close {
	text-align: right;
	font-size: .8em;
	position: absolute;
	top: .2em;
	right: .2em;
	cursor: hand;
}

#preview .close:hover {
	color: #EE3934;
}

#min-email {
	font-size: .9em;
	color: red;
}
