<p>Bonjour,</p>
<p>Vous avez participé à l’étude G-GrippeNet au cours de l’hiver et nous vous en remercions.</p>
<p>Pour compléter l'étude, nous aurions besoin que vous répondiez à ce très court questionnaire (3 à 6 questions) concernant la vaccination anti-grippale depuis le mois de septembre dernier (que vous ayez été vaccinée ou non depuis).</p>
<p><a href="{{url}}">{{url}}</a></p>
<p>Ce dernier questionnaire est très important pour nous permettre de finaliser l’étude. </p>
<p>Merci encore de votre participation !</p>

<p>Si vous avez des questions ou des suggestions à nous faire, n'hésitez pas à nous contacter <a href="mailto:g-gnet@grippenet.fr">g-gnet@grippenet.fr</a></p>
<p>L’équipe <a href="https://www.grippenet.fr/fr/g-grippenet/">G-GrippeNet</a></p>
