<p>Bonjour,</p>
<p>Vous avez participé à l’étude G-GrippeNet au cours de l’hiver et nous vous en remercions.</p>
<p>Nous vous serions très reconnaissants de bien vouloir consacrer encore quelques minutes au questionnaire final dont vous trouverez le lien ci-dessous.</p>
<p><a href="{{url}}">{{url}}</a></p>
<p>Les analyses de vos questionnaires sont en cours, et nous vous tiendrons informées des résultats de l'étude. Cependant, ce dernier questionnaire est très important pour pouvoir finaliser l’étude. 
Merci encore de votre participation.</p>
<p>L’équipe G-GrippeNet</p>

