{% load i18n %}

<p class="title">{% trans "Your account" %}</p>
<div id="userdisplay">
  	<span class="username">{{ user.username }}</span><br />
    <span class="usermail"><a href="mailto:{{ user.email }}">{{ user.email }}</a>
</div>

<div id="usermenu">
    <ul class="icons">
        <li><i class="icon-edit"></i> <a href="/dashboard">{% trans "My results" %}</a></li>
        <li><i class="icon-user"></i> <a href="{% url apps.survey.views.group_management %}">{% trans "My household" %}</a></li>
        <li><i class="icon-envelope-alt"></i> <a href="{% url invite_index %}">{% trans "Invite a friend" %}</a></li>
        <li><i class="icon-inbox"></i> <a href="{% url apps.reminder.views.latest_newsletter %}">{% trans "Newsletter" %}</a></li>
        <li><i class="icon-cog"></i> <a href="{% url apps.accounts.views.my_settings %}">{% trans "Account settings" %}</a></li>
        <li><i class="icon-off"></i> <a href="{% url django.contrib.auth.views.logout %}">{% trans "Log out" %}</a></li>
    </ul>
</div>

<div id="usertext">
    <p>{% trans 'You can add multiple people (i.e. from your household, class or company) through "Your results". Each account can only have one <a href="/accounts/settings/">username</a> and <a href="/accounts/settings/">email address</a>. To leave feedback or get support,' %} <a href="{% url contact_form %}">{% trans "contact us" %}</a>.
</div>
