<h1>Cookies</h1>
<h2>Qu'est ce qu'un cookie</h2>
<p>Un cookie est une information transmise par un site internet et stockée sur votre ordinateur pour une durée variable (chaque cookie possède une durée de vie
qui peut être jusqu'à la fermeture de votre navigateur à quelques jours voir ne jamais expirer).
Le site internet ayant transmis le cookie peut retrouver cette information à chaque visite sur ce site (jusqu'à la date d'expiration du cookie)
</p>
<h2>A quoi servent les cookies</h2>
<p>Les cookies sont utilisés sur les sites internet afin de pouvoir garder des informations sur un visiteur sans avoir à lui redemander à chaque page.
C'est pas exemple grace aux cookies, qu'un site ne vous redemande pas votre login et mot de passe lors de chaque changement de page, ou que les
sites commerciaux gardent en mémoire votre panier d'achat.</p>
<p>Les cookies sont égalements utilisés pour identifier un visiteur sur différents sites afin de mesurer l'audience des sites internet. Des outils
comme Google Analytics permettent aux éditeurs des sites Internet de mesurer l'audience et de suivre l'évolution de la fréquentation de leurs sites
Internet.</p>
<p>Les cookies peuvent également être utilisés pour suivre un même utilisateur à travers de nombreux sites internet, notamment dans des objectifs
commerciaux.</p>
<p>
	Retrouvez plus d'information sur les cookies sur le site de la <a title="Commission Nationale Informatique et Libertés" href="https://www.cnil.fr/vos-obligations/sites-web-cookies-et-autres-traceurs/">CNIL</a>
</p>
<h2>Notre politique vis à vis des Cookies</h2>
<p>Certains cookies sont nécessaires au fonctionnement de GrippeNet.fr. Ils permettent d'accéder d'assurer la sécurité de nos formulaires internet et
d'accéder aux pages de votre espace personnel. Ces cookies sont anonymes (les informations contenues sur votre ordinateur ne contiennent pas d'information
identifiante comme votre nom ou un email, il s'agit de suite de chiffres et de lettres aléatoires).  
</p>
<p>Lors de votre première visite à notre site Internet, une barre de consentement s'affiche en haut de notre site. Cette barre viste à recueillir
votre consentement sur l'usage des cookies. Le boutons "Détails" vous permet d'afficher les types de cookies que nous utilisons et de ne consentir
qu'à l'usage de certains types de cookies (les cookies "essentiels" au fonctionnement de GrippeNet.fr ne peuvent pas être désactivés).
Le bouton "Je refuse", désactivera <b>tous</b> les cookies non essentiels. Dans ce cas, certaines fonctionnalités du site seront désactivées (les boutons de partage, le bouton "J'aime" de <a href="https://www.facebook.com">Facebook</a> et le bouton "Nous suivre sur <a href="https://www.twitter.com">Twitter</a>").
</p>
</p>
<p>Nous utilisons <a href="https://www.google.fr/intl/fr/analytics/">Google Analytics</a> pour suivre la fréquentation de GrippeNet.fr. Ce service utilise des cookies pour suivre les visteurs sur notre site.
Ils sont détaillés ici : <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage#gajs">Cookies Google Analytics</a>.
</p>
<p>Conformément aux dispositions de la CNIL, cette mesure requiert votre consentement, il vous est possible de le désactiver, soit en refusant tous les cookies (non essentiels),
soit en décochant les cookies de type "analyses d'audience" après avoir cliqué sur "Détails" de la barre de consentement.</p>
<h2>Des outils pour protéger votre vie privée</h2>
<dl>
	<dt><a href="https://www.ghostery.com/fr/">Ghostery</a></dt>
	<dd>Ghostery est une extension de navigateur qui détecte et bloque beaucoup de traceurs utilisés sur les sites Internet pour le suivi des utilisateurs
	et les publicités. Il est configurable par site
	(vous pouvez autoriser ou désactiver les cookies traceurs sur un site particulier ou les bloquer sur tous les sites).
	</dd>
	<dt><a href="https://adblockplus.org/fr/">AdBlock</a>, surfez sans publicité</dt>
	<dd>AdBlock plus, bloque la plupart des images et bannières publicitaires rencontrés sur les sites Internet. Il est disponible comme extension de plusieurs navigateur
	comme Firefox, Chrome, Safari ou Opéra et sur Internet Explorer.</dd>
</ul>
