{% load  count  %}
<table class="ifn">
<tr>
<td id="epiwork">
	<a href="http://www.influenzanet.eu/" title="Influenzanet website" rel="external">http://www.influenzanet.eu/</a><br /><br />
	<img src="{{ MEDIA_URL }}base/img/influbar/epiwork.gif" alt="Epiwork Logo" title="Epiwork" /><br />
	D&eacute;velopper une infrastructure de pr&eacute;vision des &eacute;pid&eacute;mies.<br />
	<a href="http://www.epiwork.eu/" title="Epiwork website" rel="external">http://www.epiwork.eu/</a><br /><br />
	Le septi&egrave;me programme-cadre regroupe sous un m&ecirc;me toit toutes les initiatives de l'UE ayant trait à la recherche.<br /><br />
	<img src="{{ MEDIA_URL }}base/img/influbar/7thframework.gif" alt="7th Framework Logo" title="7th Framework" />
</td>
<td id="ifn-body">
	<b>Influenzanet</b> est un syst&egrave;me permettant de surveiller l’activit&eacute; des syndromes grippaux avec l’aide de volontaires, par internet. Ce syst&egrave;me est op&eacute;rationnel aux Pays-Bas et en Belgique (depuis 2003), au Portugal (depuis 2005) et en Italie (depuis 2008). L’objectif actuel est d’implanter Influenzanet dans d’autres pays europ&eacute;ens.<br /><br />
	Contrairement au syst&egrave;me traditionnel de surveillance par les m&eacute;decins g&eacute;n&eacute;ralistes, coordonn&eacute; au niveau europ&eacute;en par l’European Influenza Surveillance Scheme, Influenzanet obtient ses données directement de la population. Ceci cr&eacute;&eacute; un syst&egrave;me rapide et flexible, dont l’uniformit&eacute; permet la comparaison directe des taux de syndromes grippaux entre les diff&eacute;rents pays.<br /><br />
	Tous les habitants d’un pays dans lequel Influenzanet est implant&eacute; peuvent participer en compl&eacute;tant en ligne un formulaire d’inscription. Les participants reçoivent chaque semaine un rappel pour d&eacute;clarer les sympt&ocirc;mes qu’ils ont pu avoir depuis leur dernière visite. L’incidence des syndromes grippaux est calcul&eacute;e sur la base d’une d&eacute;finition de cas standardis&eacute;e.<br /><br />
</td>
<td id="partners">
	Pays participants et nombre de volontaires:
	<ul>
	<li><a href="http://www.degrotegriepmeting.nl/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/nl.png" title="The Netherlands" alt="The Netherlands" /></a> {% member_count "nl" %}</li>
	<li><a href="http://www.degrotegriepmeting.be/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/be.png" title="Belgium" alt="Belgium" /></a> {% member_count "be" %}</li>
	<li><a href="http://www.gripenet.pt/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/pt.png" title="Portugal" alt="Portugal" /></a> {% member_count "pt" %}</li>
	<li><a href="http://www.influweb.it/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/it.png" title="Italy" alt="Italy" /></a> {% member_count "it" %}</li>
	<li><a href="http://flusurvey.org.uk/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/gb.png" title="Great Britain" alt="Great Britain" /></a> {% member_count "uk" %}</li>
	<li><a href="https://www.halsorapport.se/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/se.png" title="Sweden" alt="Sweden" /></a> {% member_count "se" %}</li>
	{%comment%}
	<li><a href="http://www.aktivgegengrippe.de/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/de.png" title="Germany" alt="Germany" /></a>{% member_count "de" %}</li>
	<li><a href="http://www.aktivgegengrippe.at/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/at.png" title="Austria" alt="Austria" /></a> {% member_count "at" %}</li>
	<li><a href="http://www.aktivgegengrippe.ch/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/ch.png" title="Switzerland" alt="Switzerland" /></a> {% member_count "ch" %}</li>
	{%endcomment%}
	<li><a href="http://www.grippenet.fr/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/fr.png" title="France" alt="France" /></a> <span id="count-fr">{% member_count "fr" %}</span></li>
	<li><a href="http://www.gripenet.es/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/es.png" title="Spain" alt="Spain" /></a> {% member_count "es" %}</li>
	<li><a href="http://flusurvey.ie/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/ie.png" title="Ireland" alt="Ireland" /></a> {% member_count "ie" %}</li>
	<li><a href="http://www.influmeter.dk/" rel="external"><img src="{{ MEDIA_URL }}base/img/influbar/dk.png" title="Danemark" alt="Danemark" /></a>{% member_count "dk" %}</li>
	</ul>
</td>
</tr>
</table>