{% extends "dashboard/base.html" %}
{% load i18n %}

{% block add_css %}
<link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}sw/dashboard.css" />
{% endblock %}

{% block col1 %}
<h1>{% trans "My results" %}</h1>
{% include "dashboard/user_switch.html" %}
{% include "base/messages.html" %}

{% if gid %}
{% include "dashboard/user_history.html" with rows=history %}
{% if use_badge %}
<div id="user-badges"></div>
<script type="text/javascript">
$(function(){
	$('#user-badges').loading().load('/dashboard/badges/?gid={{gid}}');
});
</script>
{% endif %}

{% else %}
{% include "dashboard/household.html" %}
{% endif %} 

{% endblock col1%}