{% extends "dashboard/base.html" %}
{% load i18n %}

{% block add_css %}
<link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}sw/dashboard.css" />
{% endblock %}

{% block add_js %}
<script type="text/javascript" src="{{MEDIA_URL}}assets/raphael.js" charset="UTF-8"></script> 
<script type="text/javascript" src="{{MEDIA_URL}}sw/js/graph.js"></script>
<script type="text/javascript">
var health_status = {};
{%for name,label in health_status.iteritems %}health_status['{{name}}']= "{{label}}";{%endfor%}
var last_health_status = '{{last_health_status}}';

</script>
{% endblock %}

{% block col1 %}
<h1>{% trans "My results" %}</h1>
{% include "dashboard/user_switch.html" %}
{% include "base/messages.html" %}
{% if gid %}
{% include "dashboard/user_history.html"  %}
{% else %}
{% include "dashboard/household.html" %}
{% endif %} 

{% endblock col1%}