{% load i18n %}
<p>{% blocktrans %}To fill surveys your for this participant or for others , please visit <a href="{{url_group_management}}">the group management page</a>{% endblocktrans %}<span class="tooltip" title="{%trans "Do you know the menu" %}"><i class="icon icon-tip"></i></span></p></p>
{% if history|length %}
<div class="chart-dashboard-history dashboard">
<table>
<tr>
    {% if history_count > 0 %}
	<th colspan="{{history_count}}">{%trans "your status history"%} :</th>
	{% endif %}
	<th>{%trans "your latest status"%} : <span class="tooltip" title="{% trans "The health status of each participant is based on the symptoms you reported. <strong>This is not a medical diagnosis</strong>. We only ask for symptoms indicative of influenza-like illness, common colds, allergies and gastric flu. If you have other symptoms, or you are at all worried, we recommend that you contact your doctor or telephone NHS Direct / NHS 24." %}"><i class="icon icon-tip"></i></span></th>
</tr>
<tr>
    {% for row in history %}
    <td class="history">
        <div class="health-status">
            <span>{{ row.timestamp|timesince }}</span><br />
            <img src="/media/syndrom/{{ row.syndrom }}.png" title="{{ row.diag }}" class="tooltip"/><br/>
			<span class="diag">{{row.diag}}</span>
        </div>
    </td>
    {% endfor %}
</tr>
</table>
<p style="text-align:right;">Pour plus d'information sur les états de santé affichés, <a href="/aide-etats-de-sante/">consultez notre page d'aide</a></p>
</div>
{% else %}
<p>{% trans "No history for this participant yet" %}</p>
{% endif %}
<div id="user-charts"></div>
<div id="user-badges"></div>

<script type="text/javascript">
$(function(){
	{% if use_badge %}
	$('#user-badges').loading().load('/dashboard/badges/?gid={{gid}}');
	{% endif %}
	{%if history|length %}
	$('#user-charts').loading().load('/dashboard/chart/1/?gid={{gid}}', function() { init_my_charts(); });
	{% endif %}
});
</script>
