{% load i18n %}
{% if rows|length %}
<div class="chart-dashboard-history dashboard">
<table>
<tr>
    <th>{%trans "your latest status"%}:</th>
    <th colspan="4">{%trans "your status history"%}:</th>
</tr>
<tr>
    {% for row in rows %}
    <td class="history">
        <div class="health-status">
            <span>{{ row.timestamp|timesince }}</span><br />
            <img src="/media/survey/img/chart-{{ row.status }}.png" title="{{ row.diag }}" class="tooltip"/>
			<span class="diag">{{row.diag}}</span>
        </div>
    </td>
    {% endfor %}
</tr>
</table>
</div>
{% else %}
{% trans "No history for this participant yet" %}
{% endif %}
