{%load i18n %}
{% if badges|length > 0 %}
<div class="chart-dashboard-badges dashboard">
    <h3>{% trans "Your badges" %}:</h3>
	{% if new_badges.first %}
	<div id="first-badge" style="display:none"><img src="{{MEDIA_URL}}sw/badge32.png" class="icon icon-32"/>{%trans "It's your first badge ! This is a new feature of this website. You will win badge during the season." %}</div>
	{% endif %}
	{% if new_badges.participant|length %}
	<div class="new-badges"><img src="{{MEDIA_URL}}sw/badge16.png" class="icon"/>{%blocktrans count counter=new_badges.participant|length %}You won a new badge{% plural %}You won {{counter}} new badges{%endblocktrans%}</div>
	{% endif %}
    <div class="badges">
      {% for user_badge in badges %}
	  {%if user_badge.state %}
	    {% with badge=user_badge.badge_ %}
	  	<div class="badge{% if badge.id in new_badges.participant %} badge-new{%endif%}">
		<img src="{{ MEDIA_URL }}badges/64/{{badge.name}}.png" title="{{ badge.description }}"/>
		<div>{{ badge.label|linebreaksbr }}</div>
		</div>
	  	{% endwith %}
	  {% else %}
	  <!-- {{badge.name}} state false -->
	  {% endif %}
	  {% endfor %}
    </div>
</div>
<script type="text/javascript">
$('.badges img').tooltip();
var $e = $('#first-badge');
$e.attr('title', $e.html());
$e.empty();
$e.tooltip({tipClass:'hovertip hovertip-new'});
$e.show();
$e.tooltip().show();
</script>
{% endif %}