{%load i18n %}
{% if badge_disabled %}
<h3>{% trans "Your badges" %}</h3>
<p>{% trans "Badge feature is disabled for this participant" %} <a href="{% url dashboard_badges_activate %}?gid={{gid}}" class="button button-activate">{%trans "Reactivate this feature" %}</a></p>
{% else %}
{% if badges|length > 0 %}
<div class="chart-dashboard-badges dashboard">
    <div class="badge-header">
	<div class="badge-title">{% trans "Your badges" %} :</div>
	<a href="#" class="button tooltip" title="{% trans "This is a new feature of this website. You will win badge during the season."%}"><i class="icon icon-tip"></i>En savoir plus</a> 
	<a class="button hide-feature tooltip" id="hide-badge-feature" href="{% url dashboard_badges_disable %}?gid={{gid}}" rel="facebox" data-facebox-width="650" data-facebox-height="450" title="Vous ne souhaitez plus voir ces badges, vous pouvez désactiver cette fonctionnalité en cliquant sur ce bouton." >{%trans "Disable this feature" %}</a></h3>
	{% if new_badges.first %}
	<div id="first-badge" style="display:none"><img src="{{MEDIA_URL}}sw/badge32.png" class="icon icon-32"/>{%trans "It's your first badge ! This is a new feature of this website. You will win badge during the season." %}</div>
	{% endif %}
	</div>
	{% if new_badges.participant|length %}
	<div class="new-badges"><img src="{{MEDIA_URL}}sw/badge16.png" class="icon"/>{%blocktrans count counter=new_badges.participant|length %}You won a new badge{% plural %}You won {{counter}} new badges{%endblocktrans%}</div>
	{% endif %}
    <div class="badges">
      <ul class="badges-row">
	  {% for user_badge in badges %}
		  {%if user_badge.state %}
		    {% with badge=user_badge.badge_ %}
		  	<li class="badge{% if badge.id in new_badges.participant %} badge-new{%endif%}">
				<img src="{{ MEDIA_URL }}badges/64/{{badge.name}}.png" title="{{ badge.description }}" class="tooltip"/>
				<div class="badge-label">{{ badge.label|linebreaksbr }}</div>
			</li>
		  	{% endwith %}
		  {% else %}
		  <!-- {{badge.name}} state false -->
		  {% endif %}
	  {% if forloop.counter|divisibleby:4 %}{% if not forloop.last %}</ul><ul class="badges-row">{% endif %}{% endif %}
	  {% endfor %}
    </ul>
	<br stype="clear:both"/>
	</div>
	
</div>
<script type="text/javascript">
initUI('.chart-dashboard-badges');
var $e = $('#first-badge');
$e.attr('title', $e.html());
$e.empty();
$e.tooltip({tipClass:'hovertip hovertip-new'});
$e.show();
$e.tooltip().show();
</script>
{% endif %}
{% endif %}{# badge disabled #}
