{% extends "sw_auth/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {% trans "Account Activation" %}{% endblock %}

{% block boxcontents %}
<h1>{% trans "Account Activation" %}</h1>
<p>{% trans "Activation is complete." %}</p>

{% if launch_date %}
<p>&nbsp;</p>
<p class="warning">{% trans "The project has not started yet for the season. We will contact you as soon as the follow-up begin." %}</p>
<p class="launch-date">{%trans "The project will be launched from the" %} <b>{{ launch_date|date:"DATE_FORMAT" }}</b></p>
{% endif %}
{% endblock boxcontents %}