{% extends "sw_auth/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %} 
{% block boxcontents %}
<h1>{% trans "Password reset" %}</h1>
{% if count > 0 %}
<p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
{% if has_several %}
<p style="color:red">{% trans "Several accounts are associated with this email, a email was sent for each account" %}</p>
<p>{% trans "Email :" %} <b>{{ email }}</b></p>
{% endif %}
{% else %}
<p>{% trans "Unable to reset password" %}</p>
{% endif %}
{% endblock %}
